<!--<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Acesse nosso projeto:</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://github.com/toddescompany" target="_blanck" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true"></i>

                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> Copyright at Toddes Company © 2021</span>
    </div>

</footer>
-->
<footer class="site-footer">
    <div class="container">
      <div class="row">

        <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
          <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Lutando por mais <span class="standup1">diversidade</span> e união no mundo corporativo!</h1>
        </div>
        <div class="col-lg-6 col-md-6 col-12 " data-aos="fade-up" data-aos-delay="200">


        </div>
        <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
          <p class="copyright-text">Copyright &copy; 2021 Toddes Social Network
         </p>
        </div>

        <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
        </div>

        <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
          <ul class="social-icon">
            <li><a href="https://github.com/toddescompany" class="fab fa-github" style="font-size:30px;"></a></li>
            <!--<li><a href="#" class="fa fa-twitter"></a></li>
            <li><a href="#" class="fa fa-dribbble"></a></li>
            <li><a href="#" class="fa fa-behance"></a></li>-->
          </ul>
        </div>

      </div>
    </div>
  </footer>
