/* LEFT "menu lateral" */
    /* leftMenu*/
    #leftMenu{
        position:fixed;
        width:100%;
        left:0;
        bottom:0;
        background:white;
        margin-top:1px solid black;
        top:93%;
    }
    .leftMenuNavItem:hover{cursor:pointer;}
    .leftMenuNavItem a{font-size:30px;color:#d5459e;}
    .leftMenuNavItem a:hover{text-decoration:none;}
    .leftMenuNavItem i{color:#d5459e;}


    /* btnPostar */
    #btnPostar{
        background: #b633a0;
        border:none;
        border-radius: 100%;
        color: #FFFFFF;
        border:none;
        font-weight:bold;
        font-size:20px;
        margin:auto;
        text-align:center;
        outline:none;
        width:20px;
        font-size:15px;
        position:fixed;
        bottom:50px;
        right:20px;
        z-index:1000;
    }

    #btnPostar:hover{cursor:pointer;}

    #btnPostar i{position:relative;left:-11px;top:1px;}

    .leftMenuNavItemAtivo {background:#d148bb;}
    .leftMenuNavItemAtivo i{color:white;}
    .leftMenuNavItemAtivo span{color:white;}

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {

    }
    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {
        #leftMenu{
            width:10%;
            left:0;
            height:90%;
            top:9%;
        }
        .leftMenuNavItem a{font-size:22px;}

    }
    /* Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
        #leftMenu{
            width:10%;
            left:15.75%;

        }

    }
    /* Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {

    }

    .corButao{
        color:rgb(184, 4, 169)
        }
