/* LEFT "menu lateral" */
    /* leftMenu*/
    #leftMenu{
        position:fixed;
        width:20%;
        left:0;
        top:8%;
        background:white;
        border-radius:10px;
        padding-top:10px;
        padding-bottom:10px;
    }

    /**/
    #btns-menu-esquerdo {padding:0;list-style-type:none;font-weight:bold;
        color:black;}
    #btns-menu-esquerdo li{padding:0;list-style-type:none;}
    #btns-menu-esquerdo li a{font-weight:bold;color:black;font-size:15px;}
    #btns-menu-esquerdo li a:hover{text-decoration:none;}
    #btns-menu-esquerdo li i {font-size:23px;color:#b633a0;}

    /* btnPostar */
    #btnPostar{
        background: #b633a0;
        border:none;
        border-radius: 100%;
        color: #FFFFFF;
        border:none;
        font-weight:bold;
        padding:10px 15px;
        font-size:20px;
        margin:auto;
        text-align:center;
        outline:none;
    }

    #btnPostar:hover{cursor:pointer;}

    .active{font-weight:bold;}

    /* Small devices (landscape phones, 576px and up) */
    @media (min-width: 576px) {

    }
    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {

    }
    /* Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
        #leftMenu{
            position:fixed;
            width:10%;
            left:18%;
            top:10%;
            text-align:left;
        }
    }
    /* Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {
        #leftMenu li.navbar-item{font-size:20px;}
        #btnPostar{border-radius:30px;padding:5px 0px;margin:0;width:100px;}
    }

