<aside id="leftMenu" class="col-2 col-lg-1 col-xl-2">
	<div class="row">
		<div class="col-12">
			<!--
			<div class="row d-flex justify-content-center mb-3 mt-1" hidden>
				<img src="../../assets/toddes_img/blackhand.png" class="mainLogo align-middle" alt="">
			</div>
			-->
			<div class="row">
				<ul class="mb-20 navbar-nav p-0 d-flex justify-content-center text-center">
					<li class="navbar-item"><i class="fas fa-home"></i><a href="#"
							class="d-none d-xl-inline active" routerLink='/feed'> Home</a></li>
					<li class="navbar-item"><i class="fas fa-hashtag"></i><a routerLink='/tema'
							class="d-none d-xl-inline"> Temas</a></li>
					<li class="navbar-item"><i class="far fa-user"></i><a href="#" class="d-none d-xl-inline" routerLink='/perfil'>
							Profile</a></li>
				</ul>
			</div>


		</div>

		<div class="col-12 mt-3">
			<div class="row">
				<button id="btnPostar"><i class="fas fa-paper-plane d-inline d-xl-none"></i><span
						class="d-none d-xl-inline">Postar</span></button>



			</div>
		</div>
	</div>
</aside>
