<div class="container mb-5 mt-5">

    <div class="row">
        <div class="col-md-12">
            <h1 class="text-center text-secondary">Apagar postagem</h1>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center text-secondary">Você tem certeza que deseja apagar essa postagem?</h4>
        </div>
    </div>

    <hr>
    
    <div class="row d-flex justify-content-center mt-3">
        <div class="col-md-6">
            {{postagem.fk_usuario.nomeUsuario}}
            <a href="" class="lblPostNomeUsuario">@{{postagem.fk_usuario.emailUsuario}}</a>
        </div>
    </div>
            
    <div class="row d-flex justify-content-center">
        <div class="col-md-6">
            <p id="textoPost">{{postagem.texto_postagem}}</p>
            <p class="card-text "><small class="text-muted">{{postagem.data_postagem}} às {{postagem.data_postagem | date:
                'HH:mm'}}</small></p>
        </div>
    </div>

    <hr>

<div class="row mt-4">
    <div class="col-md-12 d-flex justify-content-center">
        <button class="btn btn-danger mr-4" routerLink='/feed'>Não</button>
        <button class="btn btn-success" (click)='apagar()'>Sim</button>

    </div>
</div>
