/* MENU FIXO MUDA A COR*/
.navbar-fixed-top{
	position:fixed;
}

.navbar-fixed-top.scrolled {
	background-color: #d148bb !important;
	transition: background-color 200ms linear;
  }

  .navbar-fixed-top.scrolled .nav-link,  .navbar-fixed-top.scrolled a {
	color:white !important;
  }

  .navbar-fixed-top.scrolled .contact
  {
	  border-color:white !important;
  }

  .navbar-fixed-top.scrolled .contact:hover{
	background-color:white !important;
	color:#d148bb !important;
  }




/* COLABORADORES */
.colaboradores {background:white;}
.colaboradores .card{margin-right:10px;margin-bottom:10px;}
.colaboradores .card ul{text-align:center;}
.colaboradores .card ul a{color:#d148bb;font-size:25px;}

ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-github:hover{
    color: #3b5998;
}

/* FIXING COLABORADORES */
.colaboradores .container .row{
  margin-bottom:20px;
  text-align:center;
}

.colaboradores .container .row .social-icon a {
  font-size:40px;
  color:#d148bb;
}

.colaboradores .container .row .social-icon a:hover {
  color: #f06cda;
}

.colaboradores .container .row h5 {
  font-size:40px;
}

.colaboradores .container .row .card-text{
  font-size: 20px;
}

.card-img-top{
  float:left;
}

/* FIXING PROBLEMA/SOLUÇÃO */
#project{background:white;}
.logo-mckinsey{width:100%;margin-bottom:15px;}
.ods16{margin-bottom:15px;}
.about-info .row{margin-bottom:100px;}
.text-problema{font-size:20px;}
.concluimos{width:90%;margin:auto;margin-bottom:40px;text-align:justify;}

.about .row{
  text-align:center;
}

/* SOBRE O PROJETO */
.project-wrapper img{
height:438px;
}





/* FIXING NAVBAR */
.navbar {
  padding: 0 !important;
}


/* TECNOLOGIAS UTILIZADAS */
#tecnologiasUtilizadas {background:white;margin:0;}

ul.tecnologiasUtilizadas{
	padding:0;
	list-style-type:none;
}

#tecnologiasUtilizadas .row{text-align:center;margin-bottom:30px;}

#tecnologiasUtilizadas img{
  width:90px;
  height:100px;
  margin:5px;
}

#tecnologiasUtilizadas img:hover{
  cursor:pointer;
  opacity:0.7;
  transition:0.2s ease-in;
}

.faixa-tecnologias{
  background:#d148bb;
  clip-path: polygon(0 0%, 100% 10%, 100% 90%, 0% 100%);
  padding-top:60px;
  padding-bottom:60px;
}

.faixa-tecnologias:last-child{
  clip-path: polygon(0 0%, 100% 10%, 100% 100%, 0% 100%);
}

.tecnologiasUtilizadas .row:nth-child(2) a{background:red;}


.fix-clip-space{
  width:100%;
  height:20px;
  background:red;
}

.faixa-tecnologias h3 a {color:white;}
.faixa-tecnologias h3 a:hover {text-decoration:none;}

#der {width:100%;min-height:250px;border:1px solid #ccc;}

/* contato */
#contatenos{
  background:#f2f2f2;
  margin-top: 40%;
  margin-bottom: 40%;

}

.contact-form{
  background: #fff;

}
.contact-form .form-control{
  border-radius:1rem;
}
.contact-image{
  text-align: center;
}
.contact-image img{
  border-radius: 6rem;
  width: 40%;
  margin-top: -10%;
}

.contact-form form{
  padding: 14%;
}
.contact-form form .row{
  margin-bottom: -7%;
}
.contact-form h3{
  margin-bottom: 8%;
  margin-top: -10%;
  text-align: center;
  color: #0062cc;
}
.contact-form .btnContact {
  width: 100%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding:10px 0;
}
