.btnContactSubmit
{
  width: 50%;
  border-radius: 1rem;
  padding: 1.5%;
  color: #fff;
  background-color: #0062cc;
  border: none;
  cursor: pointer;
}

.expand-btn{
  width:100%;
  border: none;
  border-radius: 1rem;
  padding: 1.5%;
  background: #dc3545;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  padding:10px 0;
}



/* RODAPE */
footer{
  background:#d148bb;
  padding:20px 0;
  font-size:20px;
}
footer p{color:white;}

footer a{
  color:white;
  opacity:0.5;
}

footer a:hover{color:yellow;opacity:1;text-decoration:none;}


/* botão voltar para o topo*/
#botao-voltar-ao-topo {
  position: fixed;
  bottom: 150px;
  right: 20px;
  border-radius: 10px;
}

#botao-voltar-ao-topo:hover{
  cursor:pointer;
}

/* MODAL EXPANDIR IMAGEM */
/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}





     /* Small devices (landscape phones, 576px and up) */
     @media (min-width: 576px) {
      .project-info strong{
        font-size: 36px;
      }

      .colaboradores .container .row{
        margin-bottom:120px;
        text-align:left;
      }

      .tecnologiasUtilizadas{
        margin-bottom:50px;
        text-align:left;
      }

      .concluimos{width:50%;margin:auto;margin-bottom:50px;}

      .contact-image img{
        border-radius: 6rem;
        width: 11%;
        margin-top: -3%;
      }

      #contatenos{
        margin-top:0;
        margin-bottom:0;
      }

      .contact-form{
        background: #fff;
        margin-top: 10%;
        margin-bottom: 15%;
      }

      #der {min-height:400px;}
    }
    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {


    }
    /* Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
        #feed{width:37%;left:52%;margin-left:-20%;}
        .project-info strong{
          font-size: 40px;
        }
    }
    /* Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {


      .tecnologiasUtilizadas img{
        width:90px;
      }

    }
