/* MENU FIXO MUDA A COR*/
.navbar-fixed-top{
	position:fixed;
}

.navbar-fixed-top.scrolled {
	background-color: #d148bb !important;
	transition: background-color 200ms linear;
  }

  .navbar-fixed-top.scrolled .nav-link,  .navbar-fixed-top.scrolled a {
	color:white !important;
  }

  .navbar-fixed-top.scrolled .contact
  {
	  border-color:white !important;
  }

  .navbar-fixed-top.scrolled .contact:hover{
	background-color:white !important;
	color:#d148bb !important;
  }

/* TECNOLOGIAS UTILIZADAS */
.tecnologiasUtilizadas{
	padding:0;
	list-style-type:none;
	margin-bottom:50px;
}

.tecnologiasUtilizadas img{
	width:60px;
	margin-right:10px;
}



/* COLABORADORES */
.colaboradores .card{margin-right:10px;margin-bottom:10px;}
.colaboradores .card ul{text-align:center;}
.colaboradores .card ul a{color:#d148bb;font-size:25px;}

ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-github:hover{
    color: #3b5998;
}

/* FIXING COLABORADORES */
.colaboradores .container .row{
  margin-bottom:120px;
}

.colaboradores .container .row .social-icon a {
  font-size:40px;
  color:#d148bb;
}

.colaboradores .container .row .social-icon a:hover {
  color: #f06cda;
}

.colaboradores .container .row h5 {
  font-size:40px;
}

.colaboradores .container .row .card-text{
  font-size: 20px;
}

.card-img-top{
  float:left;
}

/* FIXING PROBLEMA/SOLUÇÃO */
.logo-mckinsey{width:100%;}

.about-info .row{margin-bottom:100px;}

.text-problema{font-size:20px;}


/* FIXING NAVBAR */
.navbar {
  padding: 0 !important;
}
