	 <!-- MENU BAR -->
	 <nav class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
              <img src="../../assets/toddes_img/blackhand.png" width="50px" height="55px">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="blog.html" class="nav-link" style="color:#d148bb;" routerLink='/cadastrar'>Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link contact" routerLink='/entrar'>Entrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


      <!--HERO
<section class="" id="intro" >
	<div class="col-12">
		<video id="videoBG" autoplay muted loop>
			<source src="../../assets/teste.mp4" type="video/mp4">
		</video>
	</div>
</section>
 -->
      <!-- HERO -->
      <section class="hero hero-bg d-flex justify-content-center align-items-center">
          <div class="container">
               <div class="row">

                   <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                         <div class="hero-text">

                              <h1 class="text-white" data-aos="fade-up">"Lutando por mais <span class="standup1">diversidade</span> e união no mundo corporativo!"</h1>
                              <!--
                              <a href="contact.html" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Let us discuss together!</a>

                              <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-2"></i> +99 080 070 4224</strong>-->
                         </div>
                   </div>

                   <div class="col-lg-6 col-12">
                     <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                       <img src="../assets/images/toddes0.png" class="img-fluid" alt="working girl">
                     </div>
                   </div>

               </div>
          </div>
</section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">Quem <strong>nós</strong> somos?</h2>

                              <p class="mb-0" data-aos="fade-up">
								Somos uma Rede Social voltada para empresas disponibilizarem para seus funcionários relatar experiências desconfortáveis que vão contra a diversidade, fazendo assim, uma concientização entre os colaboradores.
							  </p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="../../assets/images/toddes1.png" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>
 <!-- PROJECT -->
 <section class="project section-padding" id="project">
     <div class="container-fluid">
          <div class="row">

               <div class="col-lg-12 col-12">

                   <h2 class="mb-5 text-center" data-aos="fade-up">
                       Que tal um pequeno
                       <strong>Spoiler</strong> do Toddes?
                   </h2>

                    <div class="owl-carousel owl-theme" id="project-slide">
                         <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                              <img src="https://i.imgur.com/CRRr9Ib.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Interface Amigável</small>

                                   <h3>
                                        <a href="javascript::void(0)">
                                             <span>Seja bem vinde e sinta-se a vontade!</span>
                                             <i class="fa fa-angle-right project-icon"></i>
                                        </a>
                                   </h3>
                              </div>
                         </div>

                         <div class="item project-wrapper" data-aos="fade-up">
                              <img src="https://i.imgur.com/8LH0xsc.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Cadastro Integrado</small>

                                   <h3>
                                        <a href="javascript::void(0)">
                                             <span>Logue com sua conta do Google sem complicação!</span>
                                             <i class="fa fa-angle-right project-icon"></i>
                                        </a>
                                   </h3>
                              </div>
                         </div>

                         <div class="item project-wrapper" data-aos="fade-up">
                              <img src="https://i.imgur.com/mcOEl9v.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Timeline Interativa</small>

                                   <h3>
                                        <a href="javascript::void(0)">
                                             <span>Tudo em um só lugar!</span>
                                             <i class="fa fa-angle-right project-icon"></i>
                                        </a>
                                   </h3>
                              </div>
                         </div>

                         <div class="item project-wrapper" data-aos="fade-up">
                              <img src="https://i.imgur.com/eP0KFU6.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Temas Sociais</small>

                                   <h3>
                                        <a href="project-detail.html">
                                             <span>Fique por dentro do que mais te interesse!</span>
                                             <i class="fa fa-angle-right project-icon"></i>
                                        </a>
                                   </h3>
                              </div>
                         </div>

                         <div class="item project-wrapper" data-aos="fade-up">
                              <img src="https://i.imgur.com/XakNyBc.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Seu Perfil</small>

                                   <h3>
                                        <a href="project-detail.html">
                                             <span>Ultimate  também a mudança que falta no mundo!</span>
                                             <i class="fa fa-angle-right project-icon"></i>
                                        </a>
                                   </h3>
                              </div>
                         </div>
                    </div>
               </div>

          </div>
     </div>
</section>
	  <!-- TECNOLOGIAS UTILIZADAS -->
	  <section class="about section-padding pb-0 mb-5" id="tecnologiasUtilizadas">
		<div class="container">
			 <div class="row">

				  <div class="col-lg-7 mx-auto col-md-10 col-12">
					   <div class="about-info">

							<h2 class="mb-4" style="text-align:right;" data-aos="fade-up" ><strong>Tecnologias Utilizadas</strong></h2>


					   </div>

					   <div class="about-image" data-aos="fade-up" data-aos-delay="200">
						<h3 class="mb-6">Frontend:</h3>
						<ul id="" class="nav tecnologiasUtilizadas d-flex justify-content-center">
							<li><img src="../../assets/toddes_icons/html5.png"></li>
							<li><img src="../../assets/toddes_icons/css3.png"></li>
							<li><img src="../../assets/toddes_icons/js.png"></li>
							<li><img src="../../assets/toddes_icons/bstrap.png"></li>
							<li><img src="../../assets/toddes_icons/angular.png"></li>
						</ul>
						<h3 >Backend:</h3>
						<ul id="" class="nav tecnologiasUtilizadas tecnologiasUtilizadas d-flex justify-content-center">
							<li><img src="../../assets/toddes_icons/java.png"></li>
							<li><img src="../../assets/toddes_icons/springboot.png"></li>
							<li><img src="../../assets/toddes_icons/typescript.png"></li>
							<li><img src="../../assets/toddes_icons/heroku.png"></li>
						</ul>
						<h3 >Ferramentas:</h3>
						<ul id="" class="nav tecnologiasUtilizadas tecnologiasUtilizadas d-flex justify-content-center" >
							<li><img src="../../assets/toddes_icons/git.png"></li>
							<li><img src="../../assets/toddes_icons/vscode icon.png"></li>
						</ul>


					  </div>
				  </div>

			 </div>
		</div>
   </section>







     <!-- TESTIMONIAL	 -->
     <section class="colaboradores section-padding" >
          <div class="container">
               <div class="row d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">


               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/79484696?v=4" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Renan Santana</h5>
                      <p class="card-text">Sou o Renan, tenho 24 anos, sou formado no curso técnico de informática e atualmente graduando no curso de Analise e Desenvolvimento de Sistemas. Sou apaixonado por tecnologia desde a infância, graças aos games, por isso, resolvi me especializar nessa área para gerar experiências extraordinárias e facilitar a vida das pessoas.
                    </p>
                      <ul class="social-icon">
                         <li><a href="https://www.linkedin.com/in/renan-santana-de-sousa/" class="fab fa-linkedin"></a></li>
                         <li><a href="https://github.com/renanimpacta" class="fab fa-github"></a></li>
                       </ul>
                    </div>
               </div>
               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/79276276?s=400&u=055b803f4708d59eaf50208ba601f85844125757&v=4" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Argel Capela</h5>
                      <p class="card-text">Estudante de Engenharia de Software, Maluco, Sonhador, Esforçado, Cristão! 1% Melhor todos os dias!!</p>
                      <ul class="social-icon">
                         <li><a href="https://www.linkedin.com/in/argel-capela-dos-santos-096411203/" class="fab fa-linkedin"></a></li>
                         <li><a href="https://github.com/argelcapela" class="fab fa-github"></a></li>
                       </ul>
                    </div>
               </div>
               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/89137460?v=4" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Guilherme Matheus</h5>
                      <p class="card-text">Olá, meu nome é Guilherme tenho 24 anos e sou muito motivado para aprender coisas novas. Busco sempre desenvolver minhas soft skills e ajudar outras pessoas a resolver problemas. Sempre evoluindo nos conhecimentos técnicos para ampliar meus horizontes.</p>
                      <ul class="social-icon">
                         <li><a href="https://www.linkedin.com/in/guilherme-matheus-b7b4131b3/" class="fab fa-linkedin"></a></li>
                         <li><a href="https://github.com/guilhermem0101" class="fab fa-github"></a></li>
                       </ul>
                    </div>
               </div>
               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/89137498?v=4" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Aleff Santos</h5>
                      <p class="card-text">Sou o Aleff, tenho 26 anos e estou me tornando um Desenvolvedor Java FullStack Jr. Desde criança eu sempre fui apaixonado por tecnologia e muito curioso também, foi dai que eu percebi que poderia usar esse conhecimento pra ajudar a vida das pessoas ao meu redor e desde então sigo essa jornada incessante.</p>
                      <ul class="social-icon">
                         <li><a href="https://www.linkedin.com/in/aleffqs/" class="fab fa-linkedin"></a></li>
                         <li><a href="https://github.com/aleffqs" class="fab fa-github"></a></li>
                       </ul>
                    </div>
               </div>

               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/89137508?v=4" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Lucas Marzocca</h5>
                      <p class="card-text">Sou Lucas Marzocca, tenho 22 anos e tenho certificado em Administração e Tecnologia. A tecnologia sempre foi presente em minha vida, principalmente na área de games como redator e streamer, mas sempre levei como um hobby, até a pandemia, onde decidi estudar a me tornar Desenvolvedor Full Stack.</p>
                      <ul class="social-icon">
                         <li><a href="https://www.linkedin.com/in/lucas-marzocca-27181372/" class="fab fa-linkedin"></a></li>
                         <li><a href="https://github.com/marzocca99" class="fab fa-github"></a></li>
                       </ul>
                    </div>
               </div>


          </div>

<!--
               <div class="row">
                    <div class="col text-center">
                              <div class="row"><img src="https://avatars.githubusercontent.com/u/79276276?s=400&u=055b803f4708d59eaf50208ba601f85844125757&v=4" alt=""></div>
                              <div class="row"><span>Argel Capela</span></div>
                              <div class="row">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit unde magnam tenetur est? Accusantium voluptates aspernatur possimus expedita iusto necessitatibus explicabo, doloremque ea similique voluptatibus aliquid, laboriosam sint blanditiis maiores.</p></div>
                     </div>
                    <div class="col">
                              <div class="row"><img src="https://avatars.githubusercontent.com/u/79484696?v=4" alt=""></div>
                              <div class="row"><span>Renan Santana</span></div>
                              <div class="row">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit unde magnam tenetur est? Accusantium voluptates aspernatur possimus expedita iusto necessitatibus explicabo, doloremque ea similique voluptatibus aliquid, laboriosam sint blanditiis maiores.</p></div>
                     </div>
                    <div class="col">
                              <div class="row"><img src="https://avatars.githubusercontent.com/u/89137460?v=4" alt=""></div>
                              <div class="row"><span>Guilherme Matheus</span></div>
                              <div class="row">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit unde magnam tenetur est? Accusantium voluptates aspernatur possimus expedita iusto necessitatibus explicabo, doloremque ea similique voluptatibus aliquid, laboriosam sint blanditiis maiores.</p></div>
                     </div>
                    <div class="col">
                              <div class="row"><img src="https://avatars.githubusercontent.com/u/89137498?v=4" alt=""></div>
                              <div class="row"><span>Aleff Santos</span></div>
                              <div class="row">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit unde magnam tenetur est? Accusantium voluptates aspernatur possimus expedita iusto necessitatibus explicabo, doloremque ea similique voluptatibus aliquid, laboriosam sint blanditiis maiores.</p></div>
                     </div>
                    <div class="col">
                              <div class="row"><img src="https://avatars.githubusercontent.com/u/89137508?v=4" alt=""></div>
                              <div class="row"><span>Lucas Marzocca</span></div>
                              <div class="row">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit unde magnam tenetur est? Accusantium voluptates aspernatur possimus expedita iusto necessitatibus explicabo, doloremque ea similique voluptatibus aliquid, laboriosam sint blanditiis maiores.</p></div>
                     </div>
               </div>

 -->


               </div>

     </section>

     <!--<footer class="page-footer font-small bg-secondary pt-4">

    <div class="container">
        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">
                <h4 class="text-white">Acesse nosso projeto:</h4>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 d-flex justify-content-center">

                <ul class="social-network">
                    <li>
                        <a href="https://github.com/toddescompany" target="_blanck" class="icoGitHub">
                            <i class="fa fa-github" aria-hidden="true"></i>

                        </a>
                    </li>
                </ul>

            </div>
        </div>
    </div>

    <div class="footer-copyright bg-dark text-center py-3">
        <span class="text-light"> Copyright at Toddes Company © 2021</span>
    </div>

</footer>
-->
<footer class="site-footer">
     <div class="container">
       <div class="row">

         <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
           <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Lutando por mais <span class="standup1">diversidade</span> e união no mundo corporativo!</h1>
         </div>
         <div class="col-lg-6 col-md-6 col-12 " data-aos="fade-up" data-aos-delay="200">


         </div>
         <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
           <p class="copyright-text">Copyright &copy; 2021 Toddes Social Network
          </p>
         </div>

         <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
         </div>

         <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
           <ul class="social-icon">
             <li><a href="https://github.com/toddescompany" class="fab fa-github" style="font-size:30px;"></a></li>
             <!--<li><a href="#" class="fa fa-twitter"></a></li>
             <li><a href="#" class="fa fa-dribbble"></a></li>
             <li><a href="#" class="fa fa-behance"></a></li>-->
           </ul>
         </div>

       </div>
     </div>
   </footer>
