/* MENU FIXO MUDA A COR*/
.navbar-fixed-top{
	position:fixed;
}

.navbar-fixed-top.scrolled {
	background-color: #d148bb !important;
	transition: background-color 200ms linear;
  }

  .navbar-fixed-top.scrolled .nav-link,  .navbar-fixed-top.scrolled a {
	color:white !important;
  }

  .navbar-fixed-top.scrolled .contact
  {
	  border-color:white !important;
  }

  .navbar-fixed-top.scrolled .contact:hover{
	background-color:white !important;
	color:#d148bb !important;
  }

/* TECNOLOGIAS UTILIZADAS */
.tecnologiasUtilizadas{
	padding:0;
	list-style-type:none;
	margin-bottom:50px;
}

.tecnologiasUtilizadas img{
  margin:5px 10px;
}

.tecnologiasUtilizadas img:hover{
  cursor:pointer;
}



/* COLABORADORES */
.colaboradores .card{margin-right:10px;margin-bottom:10px;}
.colaboradores .card ul{text-align:center;}
.colaboradores .card ul a{color:#d148bb;font-size:25px;}

ul.social-network{
    list-style: none;
    padding: 0;
}

ul.social-network li{
    display: inline;
    margin: 0;
    padding: 5px;
}

.fa{
    font-size: 35pt;
    color: white;
    padding: 10px;
}

.fa-github:hover{
    color: #3b5998;
}

/* FIXING COLABORADORES */
.colaboradores .container .row{
  margin-bottom:120px;
}

.colaboradores .container .row .social-icon a {
  font-size:40px;
  color:#d148bb;
}

.colaboradores .container .row .social-icon a:hover {
  color: #f06cda;
}

.colaboradores .container .row h5 {
  font-size:40px;
}

.colaboradores .container .row .card-text{
  font-size: 20px;
}

.card-img-top{
  float:left;
}

/* FIXING PROBLEMA/SOLUÇÃO */
.logo-mckinsey{width:100%;}

.about-info .row{margin-bottom:100px;}

.text-problema{font-size:20px;}


/* FIXING NAVBAR */
.navbar {
  padding: 0 !important;
}

/* RODAPE */
footer{
  background:#d148bb;
  color:white;
  padding:20px 0;
  font-size:20px;
}

footer a{
  color:white;
}

footer a:hover{color:yellow;text-decoration:none;}



     /* Small devices (landscape phones, 576px and up) */
     @media (min-width: 576px) {

    }
    /* Medium devices (tablets, 768px and up)*/
    @media (min-width: 768px) {

    }
    /* Large devices (desktops, 992px and up)*/
    @media (min-width: 992px) {
        #feed{width:37%;left:52%;margin-left:-20%;}
    }
    /* Extra large devices (large desktops, 1200px and up)*/
    @media (min-width: 1200px) {


      .tecnologiasUtilizadas img{
        width:90px;
      }

      .tu3imgs img{width:70px;}

    }
