<div>
	 <!-- MENU BAR -->
	 <nav class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
              <img src="../../assets/toddes_img/blackhand.png" width="50px" height="55px">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a href="blog.html" class="nav-link" style="color:#d148bb;" routerLink='/cadastrar'>Cadastrar</a>
                    </li>
                    <li class="nav-item">
                        <a href="contact.html" class="nav-link contact" routerLink='/entrar'>Entrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>


      <!--HERO
<section class="" id="intro" >
	<div class="col-12">
		<video id="videoBG" autoplay muted loop>
			<source src="../../assets/teste.mp4" type="video/mp4">
		</video>
	</div>
</section>
 -->
      <!-- HERO -->
      <section class="hero hero-bg d-flex justify-content-center align-items-center">
          <div class="container">
               <div class="row">

                   <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                         <div class="hero-text">

                              <h1 class="text-white" data-aos="fade-up">"Lutando por mais <span class="standup1">diversidade</span> e união no mundo corporativo!"</h1>
                              <!--
                              <a href="contact.html" class="custom-btn btn-bg btn mt-3" data-aos="fade-up" data-aos-delay="100">Let us discuss together!</a>

                              <strong class="d-block py-3 pl-5 text-white" data-aos="fade-up" data-aos-delay="200"><i class="fa fa-phone mr-2"></i> +99 080 070 4224</strong>-->
                         </div>
                   </div>

                   <div class="col-lg-6 col-12">
                     <div class="hero-image" data-aos="fade-up" data-aos-delay="300">

                       <img src="../assets/images/toddes0.png" class="img-fluid" alt="working girl">
                     </div>
                   </div>

               </div>
          </div>
</section>


     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <h2 class="mb-4" data-aos="fade-up">Quem <strong>nós</strong> somos?</h2>

                              <p class="mb-0" data-aos="fade-up">
								Somos uma Rede social voltada para empresas disponibilizarem para seus funcionários relatar experiências desconfortáveis que vão contra a diversidade, fazendo assim, uma concientização entre os colaboradores.
							  </p>
                         </div>

                         <div class="about-image" data-aos="fade-up" data-aos-delay="200">

                          <img src="../../assets/images/toddes1.png" class="img-fluid" alt="office">
                        </div>
                    </div>

               </div>
          </div>
     </section>
 <!-- PROJECT -->
 <section class="project section-padding" id="project">
     <div class="container-fluid">
          <div class="row">

               <div class="col-lg-12 col-12">

                   <h2 class="mb-5 text-center" data-aos="fade-up">
                       Que tal um pequeno
                       <strong>Spoiler</strong> do Toddes?
                   </h2>

                    <div class="owl-carousel owl-theme" id="project-slide">
                         <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="100">
                              <img src="https://i.imgur.com/CRRr9Ib.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Interface Amigável</small>

                                   <h3>
                                        <a href="javascript::void(0)">
                                             <span>Seja bem vinde e sinta-se a vontade!</span>
                                             <i class="fa fa-angle-right project-icon"></i>
                                        </a>
                                   </h3>
                              </div>
                         </div>

                         <div class="item project-wrapper" data-aos="fade-up">
                              <img src="https://i.imgur.com/8LH0xsc.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Cadastro Integrado</small>

                                   <h3>
                                        <a href="javascript::void(0)">
                                             <span>Logue com sua conta do Google sem complicação!</span>
                                             <i class="fa fa-angle-right project-icon"></i>
                                        </a>
                                   </h3>
                              </div>
                         </div>

                         <div class="item project-wrapper" data-aos="fade-up">
                              <img src="https://i.imgur.com/mcOEl9v.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Timeline Interativa</small>

                                   <h3>
                                        <a href="javascript::void(0)">
                                             <span>Tudo em um só lugar!</span>
                                             <i class="fa fa-angle-right project-icon"></i>
                                        </a>
                                   </h3>
                              </div>
                         </div>

                         <div class="item project-wrapper" data-aos="fade-up">
                              <img src="https://i.imgur.com/eP0KFU6.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Temas Sociais</small>

                                   <h3>
                                        <a href="project-detail.html">
                                             <span>Fique por dentro do que mais te interesse!</span>
                                             <i class="fa fa-angle-right project-icon"></i>
                                        </a>
                                   </h3>
                              </div>
                         </div>

                         <div class="item project-wrapper" data-aos="fade-up">
                              <img src="https://i.imgur.com/XakNyBc.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Seu Perfil</small>

                                   <h3>
                                        <a href="project-detail.html">
                                             <span>Ultimate  também a mudança que falta no mundo!</span>
                                             <i class="fa fa-angle-right project-icon"></i>
                                        </a>
                                   </h3>
                              </div>
                         </div>
                    </div>
               </div>

          </div>
     </div>
</section>
	  <!-- TECNOLOGIAS UTILIZADAS -->
	  <section class="about section-padding pb-0 mb-5" id="tecnologiasUtilizadas">
		<div class="container">
			 <div class="row">

				  <div class="col-lg-7 mx-auto col-md-10 col-12">
					   <div class="about-info">

							<h2 class="mb-4" style="text-align:right;" data-aos="fade-up" ><strong>Tecnologias Utilizadas</strong></h2>


					   </div>

					   <div class="about-image" data-aos="fade-up" data-aos-delay="200">
						<h3 class="mb-6">Frontend:</h3>
						<ul id="" class="nav tecnologiasUtilizadas d-flex justify-content-center">
							<li><img src="../../assets/toddes_icons/html5.png"></li>
							<li><img src="../../assets/toddes_icons/css3.png"></li>
							<li><img src="../../assets/toddes_icons/js.png"></li>
							<li><img src="../../assets/toddes_icons/bstrap.png"></li>
							<li><img src="../../assets/toddes_icons/angular.png"></li>
						</ul>
						<h3 >Backend:</h3>
						<ul id="" class="nav tecnologiasUtilizadas tecnologiasUtilizadas d-flex justify-content-center">
							<li><img src="../../assets/toddes_icons/java.png"></li>
							<li><img src="../../assets/toddes_icons/springboot.png"></li>
							<li><img src="../../assets/toddes_icons/typescript.png"></li>
							<li><img src="../../assets/toddes_icons/heroku.png"></li>
						</ul>
						<h3 >Ferramentas:</h3>
						<ul id="" class="nav tecnologiasUtilizadas tecnologiasUtilizadas d-flex justify-content-center" >
							<li><img src="../../assets/toddes_icons/git.png"></li>
							<li><img src="../../assets/toddes_icons/vscode icon.png"></li>
						</ul>


					  </div>
				  </div>

			 </div>
		</div>
   </section>







     <!-- TESTIMONIAL	 -->
     <section class="colaboradores section-padding" >
          <div class="container">
               <div class="row d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">


               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/79484696?v=4" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Renan Santana</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <ul class="social-icon">
                         <li><a href="#" class="fab fa-linkedin"></a></li>
                         <li><a href="" class="fab fa-github"></a></li>
                         <li><a href="#" class="fab fa-instagram"></a></li>
                         <li><a href="#" class="fab fa-facebook-square"></a></li>
                       </ul>
                    </div>
               </div>
               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/79276276?s=400&u=055b803f4708d59eaf50208ba601f85844125757&v=4" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Argel Capela</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <ul class="social-icon">
                         <li><a href="#" class="fab fa-linkedin"></a></li>
                         <li><a href="" class="fab fa-github"></a></li>
                         <li><a href="#" class="fab fa-instagram"></a></li>
                         <li><a href="#" class="fab fa-facebook-square"></a></li>
                       </ul>
                    </div>
               </div>
               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/89137460?v=4" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Guilherme Matheus</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <ul class="social-icon">
                         <li><a href="#" class="fab fa-linkedin"></a></li>
                         <li><a href="" class="fab fa-github"></a></li>
                         <li><a href="#" class="fab fa-instagram"></a></li>
                         <li><a href="#" class="fab fa-facebook-square"></a></li>
                       </ul>
                    </div>
               </div>
               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/89137498?v=4" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Aleff Santos</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <ul class="social-icon">
                         <li><a href="#" class="fab fa-linkedin"></a></li>
                         <li><a href="" class="fab fa-github"></a></li>
                         <li><a href="#" class="fab fa-instagram"></a></li>
                         <li><a href="#" class="fab fa-facebook-square"></a></li>
                       </ul>
                    </div>
               </div>

               <div class="card" style="width: 18rem;">
                    <img class="card-img-top" src="https://avatars.githubusercontent.com/u/89137508?v=4" alt="Card image cap">
                    <div class="card-body">
                      <h5 class="card-title">Lucas Marzocca</h5>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <ul class="social-icon">
                         <li><a href="#" class="fab fa-linkedin"></a></li>
                         <li><a href="" class="fab fa-github"></a></li>
                         <li><a href="#" class="fab fa-instagram"></a></li>
                         <li><a href="#" class="fab fa-facebook-square"></a></li>
                       </ul>
                    </div>
               </div>


          </div>

<!--
               <div class="row">
                    <div class="col text-center">
                              <div class="row"><img src="https://avatars.githubusercontent.com/u/79276276?s=400&u=055b803f4708d59eaf50208ba601f85844125757&v=4" alt=""></div>
                              <div class="row"><span>Argel Capela</span></div>
                              <div class="row">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit unde magnam tenetur est? Accusantium voluptates aspernatur possimus expedita iusto necessitatibus explicabo, doloremque ea similique voluptatibus aliquid, laboriosam sint blanditiis maiores.</p></div>
                     </div>
                    <div class="col">
                              <div class="row"><img src="https://avatars.githubusercontent.com/u/79484696?v=4" alt=""></div>
                              <div class="row"><span>Renan Santana</span></div>
                              <div class="row">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit unde magnam tenetur est? Accusantium voluptates aspernatur possimus expedita iusto necessitatibus explicabo, doloremque ea similique voluptatibus aliquid, laboriosam sint blanditiis maiores.</p></div>
                     </div>
                    <div class="col">
                              <div class="row"><img src="https://avatars.githubusercontent.com/u/89137460?v=4" alt=""></div>
                              <div class="row"><span>Guilherme Matheus</span></div>
                              <div class="row">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit unde magnam tenetur est? Accusantium voluptates aspernatur possimus expedita iusto necessitatibus explicabo, doloremque ea similique voluptatibus aliquid, laboriosam sint blanditiis maiores.</p></div>
                     </div>
                    <div class="col">
                              <div class="row"><img src="https://avatars.githubusercontent.com/u/89137498?v=4" alt=""></div>
                              <div class="row"><span>Aleff Santos</span></div>
                              <div class="row">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit unde magnam tenetur est? Accusantium voluptates aspernatur possimus expedita iusto necessitatibus explicabo, doloremque ea similique voluptatibus aliquid, laboriosam sint blanditiis maiores.</p></div>
                     </div>
                    <div class="col">
                              <div class="row"><img src="https://avatars.githubusercontent.com/u/89137508?v=4" alt=""></div>
                              <div class="row"><span>Lucas Marzocca</span></div>
                              <div class="row">
                              <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit unde magnam tenetur est? Accusantium voluptates aspernatur possimus expedita iusto necessitatibus explicabo, doloremque ea similique voluptatibus aliquid, laboriosam sint blanditiis maiores.</p></div>
                     </div>
               </div>

 -->


               </div>

     </section>



    <footer class="site-footer">
      <div class="container">
        <div class="row">

          <div class="col-lg-5 mx-lg-auto col-md-8 col-10">
            <h1 class="text-white" data-aos="fade-up" data-aos-delay="100">Lutando por mais <span class="standup1">diversidade</span> e união no mundo corporativo!</h1>
          </div>
		  <div class="col-lg-6 col-md-6 col-12 " data-aos="fade-up" data-aos-delay="200">


          </div>
		  <!--
          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="200">
            <h4 class="my-4">Contact Info</h4>

            <p class="mb-1">
              <i class="fa fa-phone mr-2 footer-icon"></i>
              +99 080 070 4224
            </p>

            <p>
              <a href="#">
                <i class="fa fa-envelope mr-2 footer-icon"></i>
                hello@company.com
              </a>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 col-12" data-aos="fade-up" data-aos-delay="300">
            <h4 class="my-4">Our Studio</h4>

            <p class="mb-1">
              <i class="fa fa-home mr-2 footer-icon"></i>
              Av. Lúcio Costa - Barra da Tijuca, Rio de Janeiro - RJ, Brazil
            </p>
          </div>
-->
          <div class="col-lg-4 mx-lg-auto text-center col-md-8 col-12" data-aos="fade-up" data-aos-delay="400">
            <p class="copyright-text">Copyright &copy; 2021 Toddes Social Network
           </p>
          </div>

          <div class="col-lg-4 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="500">
          </div>

          <div class="col-lg-3 mx-lg-auto col-md-6 col-12" data-aos="fade-up" data-aos-delay="600">
            <ul class="social-icon">
              <li><a href="https://github.com/toddescompany" class="fab fa-github" style="font-size:30px;"></a></li>
              <!--<li><a href="#" class="fa fa-twitter"></a></li>
              <li><a href="#" class="fa fa-dribbble"></a></li>
              <li><a href="#" class="fa fa-behance"></a></li>-->
            </ul>
          </div>

        </div>
      </div>
    </footer>
</div>
