	 <!-- MENU BAR -->
	 <nav class="navbar navbar-expand-lg navbar-fixed-top">
        <div class="container">
            <a class="navbar-brand" href="index.html">
              <img id="logo_toddes_oficial" src="../../assets/toddes_img/logo_toddes_rosa.png" width="130px" height="75px">
            </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" style="color:#d148bb;" routerLink='/entrar'>Entrar</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link contact" routerLink='/cadastrar'>Cadastrar</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

      <!-- HERO -->
      <section class="hero hero-bg d-flex justify-content-center align-items-center">
          <div class="container">
               <div class="row">

                   <div class="col-lg-6 col-md-10 col-12 d-flex flex-column justify-content-center align-items-center">
                         <div class="hero-text">

                              <h1 class="text-white text-center text-md-left" data-aos="fade-up">"Lutando por mais <span class="standup1">diversidade e mais resultados</span> no mundo corporativo!"</h1>
                         </div>
                   </div>

                   <div class="col-lg-6 col-12">
                     <div class="hero-image" data-aos="fade-up" data-aos-delay="400">

                       <img src="../assets/images/toddes0.png" class="img-fluid" alt="working girl">
                     </div>
                   </div>

               </div>
          </div>
</section>


<!-- EQUIPE -->
<section class="colaboradores section-padding" >
<div class="container">
     <div class="row d-flex justify-content-center">
               <h2 class="mb-4" data-aos="fade-up">Conheça nossa equipe <strong>Toddes</strong></h2>
     </div>

     <div class="row" data-aos="fade-up">
                    <div class="col-12 col-md-6">
                         <img class="card-img-top expandirIMG" src="https://avatars.githubusercontent.com/u/89137460?v=4" alt="Guilherme Matheus">
                    </div>
                    <div class="col-12 col-md-6">
                         <h5 class="card-title">Guilherme Matheus</h5>
                         <p class="card-text">Sou o Guilherme Matheus, estou desenvolvendo minhas habilidades técnicas comportamentais para me tornar um desenvolvedor java full stack, graças ao curso da Generation Brasil. Com essas habilidades, pretendo aplica-las para além da futura carreira profissional, em áreas como física e neurociência(estudo por interesses próprio).
                         </p>
                         <ul class="social-icon">
                              <li><a href="https://www.linkedin.com/in/renan-santana-de-sousa/" class="fab fa-linkedin"></a></li>
                              <li><a href="https://github.com/renanimpacta" class="fab fa-github"></a></li>
                         </ul>
                    </div>
     </div>

     <div class="row" data-aos="fade-up">
                    <div class="col-12 col-md-6 order-md-2">
                         <img class="card-img-top expandirIMG" src="https://avatars.githubusercontent.com/u/79276276?s=400&u=055b803f4708d59eaf50208ba601f85844125757&v=4" alt="Argel Capela dos Santos" >

                    </div>
                    <div class="col-12 col-md-6 order-md-1">
                         <h5 class="card-title">Argel Capela</h5>
                         <p class="card-text">

                              Aos 12 anos ganhei meu primeiro computador Windows Vista, ali aconteceu amor a primeira vista! Desde então lia livros de HTML, CSS e Javascript, comecei a fazer pequenas páginas, jogos com meus amigos e a participar de Olimpíadas de programação.

                              O Sonho da minha vida é ser Pai, ou seja, casar e constituir uma família bem sucedida. Para isso preciso me preparar, por isso meu foco atual é conquistar uma vaga como Dev Júnior Fullstack, e crescer o máximo que eu possa.

                              Eu não sei tudo, porém darei o meu melhor para agregar valor ao seu time. Eu acredito muito na frase: “O Sucesso acontece quando a preparação encontra uma oportunidade”, eu tenho me preparado a vida inteira para isso, agora, você poderia me ajudar com uma oportunidade?
                         </p>

                         <ul class="social-icon">
                              <li><a href="https://www.linkedin.com/in/argel-capela-dos-santos-096411203/" class="fab fa-linkedin"></a></li>
                              <li><a href="https://github.com/argelcapela" class="fab fa-github"></a></li>
                         </ul>
                    </div>
               </div>

          ' <div class="row" data-aos="fade-up">
                    <div class="col-12 col-md-6">
                         <img class="card-img-top expandirIMG" src="https://avatars.githubusercontent.com/u/89137498?v=4" alt="Aleff Santos">
                    </div>
                    <div class="col-12 col-md-6">
                         <h5 class="card-title">Aleff Santos</h5>
                         <p class="card-text">Sou o Aleff, tenho 26 anos e estou me tornando um Desenvolvedor Java FullStack Jr. Desde criança eu sempre fui apaixonado por tecnologia e muito curioso também, foi dai que eu percebi que poderia usar esse conhecimento pra ajudar a vida das pessoas ao meu redor e desde então sigo essa jornada incessante.</p>
                         <ul class="social-icon">
                              <li><a href="https://www.linkedin.com/in/aleffqs/" class="fab fa-linkedin"></a></li>
                              <li><a href="https://github.com/aleffqs" class="fab fa-github"></a></li>
                         </ul>
                    </div>
               </div>

          <div class="row" data-aos="fade-up">
                    <div class="col-12 col-md-6 order-md-2">
                         <img class="card-img-top expandirIMG" src="https://avatars.githubusercontent.com/u/89137508?v=4" alt="Lucas Marzocca">
                    </div>
                    <div class="col-12 col-md-6 order-md-1">
                         <h5 class="card-title">Lucas Marzocca</h5>
                         <p class="card-text">Sou Lucas Marzocca, tenho 22 anos e tenho certificado em Administração e Tecnologia. A tecnologia sempre foi presente em minha vida, principalmente na área de games como redator e streamer, mas sempre levei como um hobby, até a pandemia, onde decidi estudar a me tornar Desenvolvedor Full Stack.</p>
                         <ul class="social-icon">
                              <li><a href="https://www.linkedin.com/in/lucas-marzocca-27181372/" class="fab fa-linkedin"></a></li>
                              <li><a href="https://github.com/marzocca99" class="fab fa-github"></a></li>
                         </ul>
                    </div>
          </div>

          ' <div class="row" data-aos="fade-up">
                    <div class="col-12 col-md-6">
                         <img class="card-img-top expandirIMG" src="https://avatars.githubusercontent.com/u/79484696?v=4" alt="Renan Santana">
                    </div>
                    <div class="col-12 col-md-6">
                         <h5 class="card-title">Renan Santana</h5>
                         <p class="card-text">Sou o Renan, tenho 24 anos, sou formado no curso técnico de informática e atualmente graduando no curso de Analise e Desenvolvimento de Sistemas. Sou apaixonado por tecnologia desde a infância, graças aos games, por isso, resolvi me especializar nessa área para gerar experiências extraordinárias e facilitar a vida das pessoas.
                         </p>
                         <ul class="social-icon">
                              <li><a href="https://www.linkedin.com/in/renan-santana-de-sousa/" class="fab fa-linkedin"></a></li>
                              <li><a href="https://github.com/renanimpacta" class="fab fa-github"></a></li>
                         </ul>
                    </div>
               </div>
     </div>
</section>

     <!-- ABOUT -->
     <section class="about section-padding pb-0" id="about">
          <div class="container">
               <div class="row">

                    <div class="col-lg-7 mx-auto col-md-10 col-12">
                         <div class="about-info">

                              <div class="row">
                                   <div class="col-12 text-md-left text-center">
                                        <h2 data-aos="fade-up">Como nós podemos tornar as empresas <strong> mais eficazes? </strong></h2>
                                   </div>
                              </div>


                              <div class="row" data-aos="fade-up">
                                   <div class="col-12 col-md-6"> <img src="../../assets/toddes_img/ods16.png" alt="ODS 16" class="ods16"></div>
                                   <div class="col-12 col-md-6">
                                        <p class="text-problema">
								Inspirado na ODS 16 da ONU, decidimos focar em <strong>como tornar as instituições mais eficazes?</strong> Através de várias pesquisas e dados, descobrimos que existe uma relação significativa entre diversidade e eficiência nas empresas.
                                        </p>
						     </div>
                              </div>

                              <div class="row" data-aos="fade-up">
                                        <div class="col-12 col-md-5 order-md-2">
                                             <p class="mb-0" data-aos="fade-up">
                                             <img src="../../assets/toddes_img/mckinsey.jpg" alt="Mckinsey & Company" class="logo-mckinsey">
                                             </p>
                                        </div>
                                        <div class="col-12 col-md-7 order-md-1">
                                             <p class="text-problema">"Um estudo da consultoria McKinsey revela que há uma conexão significativa entre diversidade e performance financeira das empresas. Depois de avaliar 366 companhias, nos Estados Unidos, na Inglaterra e em países da América Latina, a conclusão é que <strong>aquelas que possuem o maior número de profissionais considerados diversos dentro do quadro geral de funcionários são capazes de entregar desempenho até 35% superior à média da indústria como um todo.</strong>"
                                             </p>
                                             <a href="https://epocanegocios.globo.com/Empresa/noticia/2017/09/por-mais-inovacao-e-produtividade-grandes-empresas-promovem-diversidade.html">Link do Artigo</a>

                                        </div>

                              </div>

                              <div class="row" hidden>
                                   <img src="../../assets/images/toddes1.png" class="img-fluid" alt="office">
                              </div>
                         </div>
                    </div>

               </div>
          </div>
     </section>
 <!-- PROJECT -->
 <section class="project section-padding" id="project">
     <div class="container-fluid">
          <div class="row">

               <div class="col-lg-12 col-12" data-aos="fade-up">

                   <h2 class="mb-5 text-center" data-aos="fade-up">
                     + Resultados =     <strong> + Diversidade</strong>
                   </h2>

                   <p class="concluimos">
                    Concluímos que a solução é <strong>conectar esses profissionais</strong> diversos e qualificados que não tem oportunidade <strong>aos empregadores </strong> que buscam talentos e um maior desempenho para suas empresas!
                   </p>

                   <h2 class="mb-5 text-center mb-10" data-aos="fade-up">
                        <strong style="color:#690158;">
                             "Criamos o <u>Toddes</u>, uma rede social que cria um networking entre profissionais diversos e potenciais empregadores."
                         </strong>
                  </h2>

                    <div class="owl-carousel owl-theme" id="project-slide">
                         <div class="item project-wrapper" data-aos="fade-up" data-aos-delay="400">
                              <img src="../../assets/toddes_img/diversidade.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Por que "Toddes"?</small>

                                   <h3>

                                             <span style="font-size:12pt;">O pronome neutro busca criar uma terceira opção para os pronomes, além do feminino e o masculino, exercendo um papel fundamental na luta das pessoas que não se identificam com nenhum dos gêneros, chamadas de não binárias. Pensando em um nome, <strong>acreditamos que Toddes representa inclusão, não só luta por respeito a gênero, mas também a raça, etnias e muito mais.</strong></span>


                                   </h3>
                              </div>
                         </div>

                         <div class="item project-wrapper" data-aos="fade-up">
                              <img src="../../assets/toddes_img/aconchegante.jpg" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Por que essa paleta de cores?</small>

                                   <h3>

                                             <span>Pensando na experiência dos usuários, decidimos utilizar esse tom de rosa por transmitir <strong>calma e tranquilidade.</strong> Nosso objetivo é proporcionar para os usuários um <strong>ambiente seguro e aconchegante para suas interações.</strong></span>


                                   </h3>
                              </div>
                         </div>

                         <div class="item project-wrapper" data-aos="fade-up">
                              <img src="../../assets/toddes_img/mobilefirst.jpg" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Layout Responsivo</small>

                                   <h3>

                                             <span>Pensando na experiência do usuário, utilizamos a técnica de design <strong>Mobile First</strong>, para possibiliar aos usuários terem a mesma experiência comfortável tanto em celulares como em Smartphones.</span>


                                   </h3>
                              </div>
                         </div>

                         <div class="item project-wrapper" data-aos="fade-up">
                              <img src="https://archive.org/download/no-photo-available/no-photo-available.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Fácil de usar para todes!</small>

                                   <h3>

                                             <span>Para o acesso a um maior número de usuários, optamos por projetar um Layout <strong>simples, e fácil de usar.</strong></span>


                                   </h3>
                              </div>
                         </div>

                         <div class="item project-wrapper" data-aos="fade-up">
                              <img src="https://archive.org/download/no-photo-available/no-photo-available.png" class="img-fluid" alt="project image">

                              <div class="project-info">
                                   <small>Conecte-se e Cresça!</small>

                                   <h3>
                                             <span>Muitas Funcionalidades legais para você se conectar com outros usuários. Também possuímos um <strong>feed específico com oportunidades de trabalho para profissionais diversos.</strong>.</span>
                                   </h3>
                              </div>
                         </div>
                    </div>
               </div>

          </div>
     </div>
</section>



<section id="tecnologiasUtilizadas" class="container-fluid">
     <div class="row faixa-tecnologias">
          <div class="col-12 text-center" data-aos="fade-up" data-aos-delay="300">
               <h3 class="mb-6 text-center"><a href="" data-toggle="tooltip" data-placement="top" title="Toda a parte visual do nosso site! Ou seja a parte bonitinha!">Frontend</a></h3>
               <ul id="" class="nav tecnologiasUtilizadas d-flex justify-content-center align-items-center" >
                    <li><a href="https://pt.wikipedia.org/wiki/HTML5" data-toggle="tooltip" data-placement="top" title="Linguagem que nos permite colocar cada elemento dentro da página e os estruturar!"><img src="../../assets/toddes_icons/tecnologias_utilizadas/html5.png" ></a></li>
                    <li><a href="https://pt.wikipedia.org/wiki/CSS3" data-toggle="tooltip" data-placement="top" title="Linguagem que nos permite estilizar todos os elementos e deixar com a nossa carinha!"><img src="../../assets/toddes_icons/tecnologias_utilizadas/css3.png" ></a></li>
                    <li><a href="https://pt.wikipedia.org/wiki/JavaScript" data-toggle="tooltip" data-placement="top" title="Linguagem que nos permite tornar os elementos dinâmicos, ou seja, clica em um botão e faz alguma coisa, etc."><img src="../../assets/toddes_icons/tecnologias_utilizadas/js.png" ></a></li>
                    <li><a href="https://getbootstrap.com.br/"  data-toggle="tooltip" data-placement="top" title="Framework CSS, é um conjunto de códigos HTML + CSS prontos, que agilizam o desenvolvimento."><img src="../../assets/toddes_icons/tecnologias_utilizadas/bstrap.png"></a></li>
                    <li><a href="https://angular.io/" data-toggle="tooltip" data-placement="top" title="Framework, agiliza o desenvolvimento da parte visual do nosso projeto. Também facilita o trabalho com /rotas, divisão de componentes e muito mais."><img src="../../assets/toddes_icons/tecnologias_utilizadas/angular.png" ></a></li>
                    <li><a href="https://www.typescriptlang.org/"><img src="../../assets/toddes_icons/tecnologias_utilizadas/typescript.png" data-toggle="tooltip" data-placement="top" title="É a linguagem principal do Angular, onde construímos a maioria das funcionalidades, principalmente a conexão com o Backend. TypeScript é uma evolução do JavaScript, possuindo uma sintaxe bem semelhante."></a></li>

               </ul>
          </div>
     </div>
     <div class="row">
          <div class="col-12" data-aos="fade-up" data-aos-delay="300">
               <h3 class="text-center"><a href="" data-toggle="tooltip" data-placement="top" title="São as aplicações que rodam, atrás da parte visual, e possuem toda a nossa regra de negócios, ou seja, responde a pergunta de -como nós fazemos o que fazemos?. Em outras palavras, é onde está o nosso Banco de Dados, e realizamos a persistência dos dados dos usuários, entre outras aplicações." style="text-decoration:none;color:black;">Backend</a></h3>
               <ul id="" class="nav tecnologiasUtilizadas d-flex justify-content-center align-items-center">
                    <li><a href="https://www.java.com/pt-BR/" data-toggle="tooltip" data-placement="top" title="Linguagem de Backend principal, onde construímos toda a nossa regra de negócio."><img src="../../assets/toddes_icons/tecnologias_utilizadas/java.png" ></a></li>
                    <li><a href="https://spring.io/projects/spring-boot"><img src="../../assets/toddes_icons/tecnologias_utilizadas/springboot.png" data-toggle="tooltip" data-placement="top" title="Spring Boot é um framework Java, ou seja, permite com que através de poucas linhas de código, construamos funcionalidades complexas."></a></li>
                    <li><a href="https://www.mysql.com/products/workbench/" data-toggle="tooltip" data-placement="top" title="No princípio da construção do Banco de Dados, utilizamos o MySQL Workbench local para realizar todos os testes."><img src="../../assets/toddes_icons/tecnologias_utilizadas/mysql.png" ></a></li>
                    <li><a href="https://www.heroku.com/postgres" data-toggle="tooltip" data-placement="top" title="O Heroku(plataforma que nos concede uma infraestrutura de hospedagem para o Backend), utiliza o Postgres como Banco de dados principal, aqui foi necessário uma migração do MySQL para o Heroku Postgres."><img src="../../assets/toddes_icons/tecnologias_utilizadas/postgresql.png" ></a></li>
                    <li><a href="https://swagger.io/" data-toggle="tooltip" data-placement="top" title="Ferramenta que nos auxilia a gerenciar os End-Points(Links que executam ações no Backend) da nossa aplicação, assim gerar uma documentação da nossa aplicação (API) entre outras coisas."><img src="../../assets/toddes_icons/tecnologias_utilizadas/swagger.png" ></a></li>
               </ul>
          </div>
     </div>
     <div class="row d-flex" data-aos="zoom-in" data-aos-delay="1000">
          <div class="container-fluid">
               <div class="row justify-content-center">
                    <div class="col-12 col-md-6" >
                         <a href="javascript::void(0)" data-toggle="tooltip" data-placement="top" title="Modelo Entidade Relacionamento do Toddes. Essas são as tabelas criadas em nosso Backend para comportar os dados dos usuários do Toddes."><img src="../../assets/toddes_img/der.png" id="der" class="expandirIMG" style="width:100%;"></a>
                    </div>
               </div>

          </div>

     </div>

     <div class="row faixa-tecnologias">
          <div class="col-12" data-aos="fade-up" data-aos-delay="300">
               <h3 class="text-center"><a href="" data-toggle="tooltip" data-placement="top" title="De modo simples, são as melhores práticas possíveis, para que nosso projeto seja entregue com a maior qualidade possível, incluíndo: intraestrutura, métodos de segurança, organização entre as diferentes areas da equipe etc.">DevOps</a></h3>
               <ul id="" class="nav tecnologiasUtilizadas d-flex justify-content-center align-items-center tu3imgs" >
                    <li><a href="https://git-scm.com/" data-toggle="tooltip" data-placement="top" title="Git realiza o controle de versionamento, fundamental para manter versões diferentes de nosso software."><img src="../../assets/toddes_icons/tecnologias_utilizadas/git.png" ></a></li>
                    <li><a href="https://github.com/" data-toggle="tooltip" data-placement="top" title="GitHub é um lugar na Internet, onde guardamos os nossos repositórios Git. Nos auxilia muito, no trabalho em equipe, onde cada um possui uma parte do código, e quando tudo estava pronto, nos comunicávamos, e juntávamos todas as partes do código."><img src="../../assets/toddes_icons/tecnologias_utilizadas/github.png" ></a></li>

                    <li><a href="https://code.visualstudio.com/" data-toggle="tooltip" data-placement="top" title="Uma poderosa IDE(Ambiente de Desenvolvimento) da icrosoft para nos ajudar a programar."><img src="../../assets/toddes_icons/tecnologias_utilizadas/vscode icon.png" ></a></li>
                    <li><a href="https://www.heroku.com/"  data-toggle="tooltip" data-placement="top" title="Plataforma que nos concede uma infraestrutura de hospedagem para o Backend(aplicações que carregam possuem nossas Regras de Negócio) de nosso projeto."><img src="../../assets/toddes_icons/tecnologias_utilizadas/heroku.png"></a></li>
                    <li><a href="https://www.netlify.com/" data-toggle="tooltip" data-placement="top" title="Plataforma que nos concede uma infraestrutura de hospedagem para o Frontend(Parte visual) de nosso projeto.."><img src="../../assets/toddes_icons/tecnologias_utilizadas/netlify.png" ></a></li>
               </ul>
          </div>
     </div>
</section>


<!--  CONTATE-NOS  -->
<section id="contatenos" class="container-fluid" >
     <div class="row f-flex justify-content-center contact-form" >
               <div class=".col-12 col-md-8">
               <div class="contact-image">
                    <img src="../../assets/toddes_img/contact_form_icon.png" alt="rocket_contact"/>
               </div>
                    <form method="post" data-aos="flip-up" data-aos-delay="300">
                    <h3 style="color:#d148bb;">Por favor! Em caso de dúvidas, não deixe de entrar em contato conosco!</h3>
                    <div class="row">
                         <div class="col-md-6">
                              <div class="form-group">
                                   <input type="text" name="txtName" class="form-control" placeholder="Seu Nome *" value="" />
                              </div>
                              <div class="form-group">
                                   <input type="text" name="txtEmail" class="form-control" placeholder="Seu E-mail *" value="" />
                                   <input type="submit" name="btnSubmit" class="expand-btn mt-2 d-none d-md-block" value="Enviar Mensagem" />
                              </div>

                         </div>
                         <div class="col-md-6">
                              <div class="form-group">
                                   <textarea name="txtMsg" class="form-control" placeholder="Sua Mensagem *" style="width: 100%; height: 150px;"></textarea>
                              </div>

                         </div>
               </div>
               </form>
          </div>
     </div>
</section>

<!-- VAMOS NAVEGAR? -->
<section class="container-fluid" style="padding-top:200px;padding-bottom:200px;background:white;" data-aos="slip-up" data-aos-delay="300">
     <div class="container">
          <div class="row d-flex justify-content-center">
          <div class="col-md-6 text-center">
               <h2>Vamos lá conhecer o <strong>Toddes?</strong></h2>
               <a class="btn btn-success" style="background:#d148bb;color:white;outline:none;border:none;font-weight:bold;font-size:30px;margin-top:20px;" routerLink='/entrar'>SÓ SE FOR AGORA!</a>
          </div>
     </div>
     </div>
</section>

<footer class="text-center">
     <p>
          <a href="https://github.com/toddescompany" class="fab fa-github mb-4" style="font-size:30px;" data-aos="zoom-in" data-aos-delay="300"></a><br>
          &copy; Copyright 2021 | <a href="index.html" data-aos="flip-down" data-aos-delay="400">Toddes</a>
     </p>
</footer>

   <div id="botao-voltar-ao-topo">
        <strong>Voltar ao Topo?</strong><br>
        <img src="../../assets/toddes_icons/backtop.png" alt="">
   </div>

<!--  MODAL EXPANDIR IMAGEM -->
<!-- The Modal -->
<div id="myModal" class="modal" style="z-index:888;">

  <!-- The Close Button -->
  <span class="close">&times;</span>

  <!-- Modal Content (The Image) -->
  <img class="modal-content" id="img01">

  <!-- Modal Caption (Image Text) -->
  <div id="caption"></div>
</div>
