<section id="feed" class="col-10 col-lg-8 col-xl-7 border-right border-left ">

    <div id="posts" class="row">


        <article id="postUsuario" *ngFor='let post of user.postagem | orderBy : key : reverse'  class="col-12 pt-2 pb-2">






            <div class="bg-white border mt-2">
                <div>
                    <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                        <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle"
                                src="{{minhaFoto}}" width="45" onerror="this.src='../../assets/toddes_icons/sem_imagem.jpg';">
                            <div class="d-flex flex-column flex-wrap ml-2"><span
                                    class="font-weight-bold">{{meuNome}}</span>
                                <span class="text-black-50 time">{{specialfunctions.calculaADiferencaEntreDatas(post.data_postagem)}}</span>
                                <span class="font-weight-bold" style="color:#d148bb;">"{{post.tituloPostagem}}"</span>
                                <span class="" style="color:blue;">#{{post.fk_tema.nomeTema}}</span>

                            </div>
                        </div>
                        <div class="dropdown" id="dropdown-post">
                            <button class="btn btn-secondary feed-icon px-2 dropdown-toggle" type="button"
                                id="btn-dropdown-post" data-toggle="dropdown" aria-haspopup="true"
                                aria-expanded="false">
                                <i class="fa fa-ellipsis-v text-black-50" style="position:relative;left:7px;"></i>
                            </button>


          <div class="dropdown-menu" aria-labelledby="btn-dropdown-post">
              <a class="dropdown-item" href="#" data-toggle="modal" data-target="#editPostModal"
              [routerLink]="['/perfil-usuario', post.id_postagem]" ><i class="fas fa-edit"  ></i>
                  Editar</a>
              <a id="btnRemoverPostagem" class="dropdown-item" href="#" data-toggle="modal" data-target="#deletePostModal" [routerLink]="['/perfil-usuario', post.id_postagem]"><i
                      class="far fa-trash-alt"></i> Remover</a>

          </div>
                        </div>
                    </div>
                </div>
                <div class="p-2 px-3"><span>{{post.texto_postagem}}</span></div>
                <div class="p-2 px-3" *ngIf='post.imagem'><span><img src="{{post.imagem}}"  height="400px" width="100%" onerror="this.src='../../assets/toddes_icons/sem_imagem.jpg';"> </span></div>
            </div>


        </article>





    </div>
</section>



<!-- MODAL DELETE POST  [routerLink]="['/postagem-delete', post.id_postagem]" -->
<div class="row">
  <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletePostModalLabel">Deletar Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja remover esse Post? Essa ação não pode ser revertida.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
          <button (click)="apagarPostagem()" type="button"  class="btn btn-success" data-dismiss="modal">Sim</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL DELETE POST -->


<!-- START - MODAL EDITAR POST -->
  <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPostModalLabel">Editando Postagem</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="col-12 mt-2">
                <div class="row text-center " >


                    <div class="col-12">
                        <div class="row">
                          <label for="tituloPost">Título: </label>
                            <input  [(ngModel)]='salvarPostagem.tituloPostagem' id="tituloPost" type="text" placeholder="Titulo" class="col-12 b-0 form-control mb-2" required>
                            <label for="txtPost">Texto: </label>
                            <textarea [(ngModel)]='salvarPostagem.texto_postagem'  id="txtPost" placeholder="O que você está sentindo?" class="form-control mb-2" required></textarea>
                        </div>
                    </div>

<!-- SELECIONAR TEMA -->
                  <label for="nomeTema">Tema: </label>
                    <select name="tema" id="nomeTema" class="form-control mb-2" [(ngModel)]='idTema' (change)='findByIdTema' required>
                        <option *ngFor='let item of listaTemas' value="{{item.idTema}}">
                            {{item.nomeTema}}
                        </option>
                    </select>
                    <label for="imagemPost">Link de uma imagem para o Post: </label>
                    <input  [(ngModel)]='salvarPostagem.imagem' id="imagemPost" type="text" placeholder="Sem Imagem por enquanto" class="col-12 b-0 form-control mb-2" required>


                </div>
            </div>


        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="submit" class="btn btn-success" data-dismiss="modal" (click)='atualizarPostagem()'>Salvar Alterações</button>
        </div>
      </div>
    </div>
  </div>
<!-- MODAL EDITAR POST -->


