/* CENTER "feed" */
/* POSTAR */
#feed{
    position:absolute;
    width:80%;
    left:20%;
    top:10%;
    z-index:1;
    background:white;
    border-radius:10px;
}

#feed #postar{border-top:1px solid #eee;border-bottom:1px solid #eee;padding:8px 0;}
/* caixa para postar algo*/
#feed .row .col-12:nth-child(1) textarea{border:none;width:100%;height:100px;color:gray;font-size:20px;border-bottom:2px solid #eee;}
#feed .row .col-12:nth-child(2) ul{list-style:none;padding:0;}
#feed .row .col-12:nth-child(2) ul li{display:inline;padding-right:10px;}
#feed .row .col-12:nth-child(2) ul li i{color:#d148bb;font-size:30px;}

.btnPostar2 /* dentro do postar */
{
    background: #d148bb;
    border-radius:100%;
    color: #FFFFFF;
    border:none;
    font-weight:bold;
    padding:15px 15px;
    font-size:20px;
}
/* POSTS */
#feed .imgPerfil {width:75px;height:70px;border-radius:100%;margin:auto;}
#posts article{border-top:1px solid #eee;border-bottom:1px solid #eee;}
#posts article h1{font-size:20px;}
#posts article #imgPost{width:100%;}
#posts article button{border:none;background:white;}
.btnComentario i{color:#d148bb;font-size:25px;}

#posts article .lblPostNomeCompleto{font-size:100%; margin-right:5px;font-weight:bold;}
#posts article .lblPostNomeUsuario{font-size:100%;color:#d148bb;}
#posts .lblQtdComentarios {position:relative;top:-5px;color:gray;}
#dropdown-post .dropdown-menu i{color:#d148bb;}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}
  /* Large devices (desktops, 992px and up)*/
  @media (min-width: 992px) {
    #feed{width:40%;left:49%;margin-left:-20%;}
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

