/* MENU DE CIMA */
#container-menu-master{
    width:100%;
    position:fixed;
    z-index:666;
    background:#d5459e;
    padding:7px 0 3px 0;
}

#menuSuperior{
    width:100%;
    position:fixed;
    z-index:666;
    background:#d5459e;
    padding:0;
}

.mainLogo{width:55px;height:40px;}

.imgPerfil{width:45px;height:45px;}
.btnMenuSuperior:hover{cursor:pointer;transition:1s ease;}
.btnMenuSuperior i{font-size:30px;color:white;margin-left:7px;margin-top:7px;}
.active{color:#d148bb;}
.dropdown-item i{color:#d148bb;}


/* txtSearch */
.has-search{width:100%;}
.has-search .form-control{
    padding-left: 2.375rem;
    background:white;
    border-radius:30px;
    font-size:8pt;
}

.has-search .form-control-feedback {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.375rem;
    text-align: center;
    pointer-events: none;
    color: #aaa;
    background:white;
    border-radius:30px;
}

/* btn perfil */
#dropdown-btnperfil{
    top:-45px;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
    .has-search .form-control{
        font-size:12pt;
    }
}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

    .has-search .form-control{
        font-size:14pt;
    }

}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .menuSuperiorCenter{width:70%;margin:auto;}
}


