<div id="container-menu-master">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
        <div class="row">


                <div class="col-3 text-center">
                  <div class="row d-flex justify-content-center">
                    <div class="col-10 text-center text-md-left">
                      <a (click)='sair()' href="index.html"><img src="../../assets/toddes_img/logo_toddes_branco_sem_espaco.png" class="mainLogo" alt=""></a>

                    </div>
                  </div>




                </div>
                <div class="col-6 text-center">
                  <div class="row">



                  <!-- BARRA DE PESQUISA-->
                  <div class="has-search">
                    <span class="fa fa-search form-control-feedback"></span>
                    <input type="text" class="form-control" placeholder="Busque postagens por título..." value="" (keyup)="
                    emitirPesquisa($event)">
                  </div>

                </div>

                </div>

                <div class="col-3">
                 <div class="row d-flex justify-content-center align-items-center">
                  <div class="col-10">

                          <div class="btnMenuSuperior text-center text-md-right"  data-toggle="dropdown"
                          aria-haspopup="true" aria-expanded="false">
                                       <img src="{{foto}}" onerror="this.src='../../assets/toddes_icons/sem_imagem.jpg';" class="imgPerfil rounded-circle"  />
                                      <i class="fas fa-caret-down d-none "></i>
                          </div>
                          <div class="dropdown" id="dropdown-btnperfil" >
                            <div class="dropdown-menu" aria-labelledby="btn-dropdown-btnperfil">


                                <div class="row pl-2 pt-1 pb-1" hidden>
                                    <div class="col-3"> <img src="{{foto}}" onerror="this.src='../../assets/toddes_icons/sem_imagem.jpg';" class="imgPerfil rounded-circle"  /></div>


                            <div class="col-9 text-left" hidden><span>{{nomeUsuario}}</span><br>
                           <span class="color-login ">@{{nomeUsuario}}</span></div>

                                </div>

                        <hr hidden>
                        <a (click)='atualizarCamposModal()' class="dropdown-item" [routerLink]="['/feed', idUsuario]" data-toggle="modal"         data-target="#editUserModal"><i class="fas fa-edit"></i> Editar Perfil</a>
                        <a class="dropdown-item" [routerLink]="['/feed', idUsuario]" data-toggle="modal" data-target="#deleteUserModal" ><i class="far fa-trash-alt"></i> Remover conta</a>
                        <hr>
                        <a routerLink='/entrar' (click)='sair();' class="dropdown-item"  data-toggle="modal" data-target="#deletePostModal" ><i class="fas fa-sign-out-alt"></i> Sair</a>
                        </div>
                </div>




                  </div>
              </div>




                  <!-- END - DROPDOWN BTN PERFIL -->
                  </div>


              </div>
            </div>
            </div>
</div>

<!-- MODAL DELETE POST  [routerLink]="['/postagem-delete', post.id_postagem]" -->
<div class="row">
  <div class="modal fade" id="deleteUserModal" tabindex="111" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletePostModalLabel">Deletando Usuário</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja desativar a sua conta ? Você terá que se cadastrar novamente! Pense bem!
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal" style="background-color:black; color: white">Não</button>
          <button (click)="apagarUser()" type="button"  class="btn " data-dismiss="modal" style="background-color:#d148bb; color: white">Sim</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END MODAL DELETE POST -->


<!-- START - MODAL EDITAR POST -->
  <div class="modal fade" id="editUserModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPostModalLabel">Atualizar meus dados</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">


                    <div class="col-12">



                              <div class="form-group">
                                  <label for="nome">Nome Completo: </label>
                                  <input [(ngModel)]='salvarUser.nomeUsuario' class="form-control mb-2" type="text" name="nome" id="nome" placeholder="Seu nome" tabindex="1">



                                  <label for="usuario">Nome de Usuário (E-mail/ou/Login) :</label>
                                  <input [(ngModel)]='salvarUser.emailUsuario' class="form-control mb-2" type="text" name="usuario" id="usuario" placeholder="Seu usuário" tabindex="2" >



                                  <label for="foto">Link da foto:</label>
                                  <input [(ngModel)]='salvarUser.foto' class="form-control mb-2" type="text" name="foto" id="foto" placeholder="Link da sua foto" tabindex="3" >



                                  <label for="senha">Senha:</label>
                                  <input (input)='confirmeSenha($event)' class="form-control mb-2" type="password" name="senha" id="senha" placeholder="Seu senha" tabindex="4" autofocus>



                                  <label for="confirmSenha">Confirmar senha:</label>
                                  <input [(ngModel)]='salvarUser.senhaUsuario' class="form-control mb-2" type="password" name="confirmSenha" id="confirmSenha"
                                      placeholder="Confirme sua senha" tabindex="5" >
                              </div>

                    </div>




        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" style="background-color:black; color: white">Cancelar</button>
          <button type="submit" class="btn " data-dismiss="modal" (click)='atualizarUser()' style="background-color:#d148bb; color: white">Salvar Alterações</button>
        </div>
      </div>
    </div>
  </div>
