<div class="container-fluid">
    <nav class="row align-middle pt-1 pb-1" id="menuSuperior">

                <div class="col-2">
                <!-- START - DROPDOWN BTN PERFIL -->
                        <div id="" class="row"  data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                                <div class="btnMenuSuperior row text-center">
                                    <div class="col-4"><i class="fas fa-bars"></i></div>

                                    <div class="col-8"> <img src="{{foto}}" onerror="this.src='../../assets/toddes_icons/sem_imagem.jpg';" class="imgPerfil rounded-circle"  /></div>

                                </div>
                        </div>

                        <div class="dropdown" id="dropdown-btnperfil" style="position:relative;top:-45px;">
                                    <div class="dropdown-menu" aria-labelledby="btn-dropdown-btnperfil">

                                        <div class="row pl-2 pt-1 pb-1">
                                            <div class="col-3"> <img src="{{foto}}" onerror="this.src='../../assets/toddes_icons/sem_imagem.jpg';" class="imgPerfil rounded-circle"  /></div>

                                    <div class="col-9 text-left"><span>{{nomeUsuario}}</span><br>
                                   <span class="color-login">@{{nomeUsuario}}</span></div>

                                        </div>

                                <hr>
                                <a class="dropdown-item" [routerLink]="['/user-edit', id]" data-toggle="modal"         data-target="#editPostModal"><i class="fas fa-edit"></i> Editar Perfil</a>
                                <a class="dropdown-item" href="#" data-toggle="modal" data-target="#deletePostModal" ><i class="far fa-trash-alt"></i> Remover conta</a>
                                <hr>
                                <a (click)='sair()' class="dropdown-item"  data-toggle="modal" data-target="#deletePostModal" ><i class="fas fa-sign-out-alt"></i> Sair</a>
                                </div>
                        </div>
                <!-- END - DROPDOWN BTN PERFIL -->
                </div>



                <div class="col-8 text-center">
                    <img src="../../assets/toddes_img/blackhand.png" class="mainLogo align-middle" alt="">
                </div>
                <div class="col-2"></div>
        </nav>
</div>
