<section id="feed" class="col-10 col-lg-8 col-xl-7 border-right border-left ">
    <div class=" has-search " style="border-bottom:1px solid black;">
        <label for="tema" class="mt-4" style="color:#d148bb;font-weight:bold;"> Busque no Toddes...</label>
        <span class="fa fa-search form-control-feedback"></span>
        <input type="text" class="form-control " placeholder="Busque no Toddes" value="" [(ngModel)]="tituloPost" (keyup)="
        findByTituloPostagem()">
      </div>


    <div id="postar" class="">

            <div class="row form-group pt-3 pb-3">
                <div class="col-1"></div>
                <div class="col-10">
                    <div class="row">
                        <div class="col-12">
                            <input [(ngModel)]='postagem.tituloPostagem' id="tituloPost" type="text" placeholder="Titulo"
                            class="col-12 b-0 form-control mb-4" value="" maxlength="255" tabindex="1" autofocus>

                        <textarea [(ngModel)]='postagem.texto_postagem' id="txtPost"
                            placeholder="O que você está sentindo?" class="form-control" required maxlength="1000" tabindex="2"></textarea>

                        <label for="tema" class="mt-4" style="color:#d148bb;font-weight:bold;">Tema da Postagem:</label>
                        <select name="tema" id="nomeTema" class="form-select form-control" [(ngModel)]='idTema'
                            (change)='findByIdTema' tabindex="3" required>
                            <option *ngFor='let item of listaTemas' value="{{item.idTema}}">
                                {{item.nomeTema}}
                            </option>
                        </select>

                        <label for="tema" class="mt-4" style="color:#d148bb;font-weight:bold;"><i class="far fa-image" style="color:#d148bb;"></i> Link da Imagem:</label>
                        <input [(ngModel)]= 'postagem.imagem' type="text" class="form-control" aria-label="Exemplo do tamanho do input" aria-describedby="inputGroup-sizing-default">


                        <div class="row justify-content-end">
                            <button type="button" class="btnPostar2 fas fa-paper-plane mt-4" (click)='publicar()'></button>
                        </div   >

                        </div>






                </div>
            </div>
                <div class="col-1"></div>
            </div>

    </div>




    <div id="posts" class="row">


        <article *ngFor='let post of listaPostagens | orderBy : key : reverse'  class="col-12 pt-2 pb-2">
            <div class="bg-white border mt-2">
                <div>
                    <div class="d-flex flex-row justify-content-between align-items-center p-2 border-bottom">
                        <div class="d-flex flex-row align-items-center feed-text px-2"><img class="rounded-circle"
                                src="{{post.fk_usuario.foto}}" width="45" onerror="this.src='../../assets/toddes_icons/sem_imagem.jpg';">
                            <div class="d-flex flex-column flex-wrap ml-2"><span
                                    class="font-weight-bold">{{post.fk_usuario.nomeUsuario}}</span>
                                <span class="text-black-50 time">{{post.data_postagem}}</span>
                                <span class="font-weight-bold" style="color:#d148bb;">"{{post.tituloPostagem}}"</span>
                                <span class="font-weight-bold" style="color: rgb(41, 12, 146);">#{{post.fk_tema.nomeTema}}</span>

                            </div>
                        </div>

                    </div>
                </div>
                <div class="p-2 px-3"><span>{{post.texto_postagem}}</span></div>
                <div class="p-2 px-3" *ngIf='post.imagem'><span><img src="{{post.imagem}}"  height="400px" width="100%" onerror="this.src='../../assets/toddes_icons/sem_imagem.jpg';"> </span></div>
                <!--<div class="row mt-2">
                             <div class="Comentarios">
                                 <button type="button" class="btnComentario"><i class="far fa-comment"></i></button>
                                 <span class="lblQtdComentarios">10</span>
                             </div>
                         </div>-->
            </div>
        </article>





    </div>
</section>

<!-- MODAL DELETE POST
  <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletePostModalLabel">Deletar Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja remover esse Post? Essa ação não pode ser revertida.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
          <button type="button" class="btn btn-success">Sim</button>
        </div>
      </div>
    </div>
  </div>

-->
<!-- END MODAL DELETE POST -->

<!-- START - MODAL EDITAR POST
  <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPostModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="col-12 mt-2">
                <div class="row text-center " >


                    <div class="col-12">
                        <div class="row">
                            <input  [(ngModel)]='postagem.tituloPostagem' id="tituloPost" type="text" placeholder="Titulo" class="col-12 b-0">
                            <textarea [(ngModel)]='postagem.texto_postagem'  id="txtPost" placeholder="O que você está sentindo?"></textarea>
                        </div>
                    </div>
                -->
<!--SELECIONAR TEMA

                    <select name="tema" id="nomeTema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema'>
                        <option *ngFor='let item of listaTemas' value="{{item.idTema}}">
                            {{item.nomeTema}}
                        </option>
                    </select>
                -->
<!---
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col-1  "></div>
                    <div class="col-10  text-left">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                <ul class="p-0">
                                    <li><a href="#"><i class="far fa-image"></i></a></li>
                                    <li><a href="#"><i class="far fa-grin-alt"></i></a></li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>


                </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Salvar Alterações</button>
        </div>
      </div>
    </div>
  </div>
 END - MODAL EDITAR POST -->


