
<!--<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="feed.component.css">
    <link rel="stylesheet" href="bootstrap.css">
</head>
<body>


  sem angular -->

<div class="container-fluid">

    <div class="row">

        <aside id="leftMenu" class="col-2 border">
            <div class="row">
                <div class="col-12">
                    <ul class="mb-20 navbar-nav text-center align-middle">
                        <li class="navbar-item"><i class="fab">@</i><a href="#" class="d-none d-lg-inline"> Home</a></li>
                        <li class="navbar-item"><i class="fab">@</i><a href="#" class="d-none d-lg-inline"> Temas</a></li>
                        <li class="navbar-item"><i class="fab">@</i><a href="#" class="d-none d-lg-inline"> Profile</a></li>
                    </ul>
                </div>

                <div class="col-12 mt-3">
                    <div class="row">
                        <button id="botaoPostar"><i class="fab d-inline d-lg-none">@</i><span class="d-none d-lg-inline">Postar</span></button>
                    </div>
                </div>
            </div>
        </aside>

        <h3 id="paginaAtual" hidden>Página inicial</h3>
        <section class="col-10 col-md-8 border">
            <div class="row">
                <div class="row">
                    <div class="col-2"><img src="../../assets/camerican.png" /></div>
                    <div class="col-10"><textarea id="txtPost"></textarea></div>
                </div>
                <div class="row">
                    <div class="col-2"></div>
                    <div class="col-8">
                        <ul id="">
                            <li><a href="#"><img src="#" /></a></li>
                            <li><a href="#"><img src="#" /></a></li>
                            <li><a href="#"><img src="#" /></a></li>
                        </ul>
                    </div>
                    <div class="col-2">
                        <button type="button">Postar</button>
                    </div>
                </div>
            </div>
        </section>

        <aside class="d-none col-md-2 border">
            <h3>Tendências</h3>
        </aside>

    </div>

</div>
<!--  sem angular
</body>
</html>
 -->
