/* LEFT */
    /* leftMenu*/
    #leftMenu{height:500px;}
    #leftMenu li.navbar-item{font-size:25px; border-radius: 30px;vertical-align:middle;}
    #leftMenu li.navbar-item a{text-decoration:none;color:black;}
    #leftMenu li.navbar-item i{display:inline;}
    #leftMenu li.navbar-item:hover{background-color:#eee;cursor:pointer;}
    /* btnPostar */
    #botaoPostar{
        width:55px;
        background: #d148bb;
        border-radius: 100%;
        border-color: #d148bb;
        color: #FFFFFF;
        border:none;
        font-weight:bold;
        padding:10px 15px;
        font-size:20px;
        margin:auto;
    }

    @media screen and (min-width: 992px)
    {
        #leftMenu li.navbar-item{text-align:left;width:60%;text-align:center;}
        #botaoPostar{width:90%;border-radius:30px;}
    }

/* CENTER */


/* RIGHT */
