        <section id="feed" class="col-10 col-lg-8 col-xl-7 border-right border-left ">
            <div id="postar" class="row">
                <div class="col-12 pt-3 pb-3" >
                    <div class="row form-group" >
                        <div class="col-1"></div>
                        <div class="col-10">
                            <div class="row">

                      <input [(ngModel)]='postagem.tituloPostagem' id="tituloPost" type="text"
                                    placeholder="Titulo" class="col-12 b-0 form-control" value="" hidden >
                       <textarea [(ngModel)]='postagem.texto_postagem' id="txtPost"  placeholder="O que você está sentindo?" class="form-control" autofocus required></textarea>

                        <label for="tema" class="mt-4" style="color:#d148bb;font-weight:bold;">Tema da Postagem:</label>
                        <select name="tema" id="nomeTema" class="form-select form-control" [(ngModel)]='idTema'
                            (change)='findByIdTema' required>
                            <option *ngFor='let item of listaTemas' value="{{item.idTema}}">
                                {{item.nomeTema}}
                            </option>
                        </select>
                    </div>
                    <div class="col-1"></div>
                </div>
                    </div>
                </div>
                <div class="col-12 mt-2">
                    <div class="row">
                            <div class="col-1"></div>
                        <div class="col-5">
                            <div class="row">


                            <ul class="p-0">
                                <li><a href="#"><i class="far fa-image"></i></a></li>
                                <li><a href="#"><i class="far fa-grin-alt"></i></a></li>
                            </ul>
                        </div>
                        </div>
                        <div class="col-5">
                            <div class="row d-flex justify-content-end">
                                <button type="button" class="btnPostar2 fas fa-paper-plane"  (click)='publicar()'></button>
                            </div>
                        <div class="col-1"></div>
                    </div>
                    </div>
                </div>
            </div>
            <div id="posts" class="row">

                <article *ngFor='let post of listaPostagens' class="col-12 pt-2 pb-2">
                    <div class="row">
                        <div class="col-3 col-sm-2 ">
                            <div class="row">
                               <img src="{{post.fk_usuario.foto}}" class="imgPerfil" />
                            </div>
                        </div>

                        <div class="col-9 col-sm-9 ">
                            <div class="row">
                                <div class="col-12 ">
                                    <div class="row">
                                        <div class="col-8">
                                            <div class="row text-left">
                                                <span class="lblPostNomeCompleto">
                                                    {{post.fk_usuario.nomeUsuario}}</span><a href=""
                                                    class="lblPostNomeUsuario">@{{post.fk_usuario.emailUsuario}}</a>


                                            </div>
                                        </div>
                                        <div class="col-4" >


                                            <div class="row d-flex justify-content-end">

                           <!-- START - DROPDOWN CONFIG POST -->
<div class="dropdown" id="dropdown-post">
<button class="btn btn-secondary dropdown-toggle btnConfigPost"
type="button" id="btn-dropdown-post" data-toggle="dropdown"
aria-haspopup="true" aria-expanded="false">
<i class="fas fa-ellipsis-h"></i>
</button>
<div class="dropdown-menu" aria-labelledby="btn-dropdown-post">
<a class="dropdown-item" href="#" data-toggle="modal"
    data-target="#editPostModal"
    [routerLink]="['/postagem-edit', post.id_postagem]"><i
        class="fas fa-edit"></i> Editar</a>
<a class="dropdown-item" href="#" data-toggle="modal"
    data-target="#deletePostModal"
    [routerLink]="['/postagem-delete', post.id_postagem]"><i
        class="far fa-trash-alt"></i> Remover</a></div>
</div>
                          <!-- END - DROPDOWN CONFIG POST -->

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="row">

                                <p id="textoPost">{{post.texto_postagem}}</p>
                            </div>
                            <div class="row mt-2 d-flex justify-content-end">
                                <p class="card-text "><small class="text-muted">{{post.data_postagem}} às {{post.data_postagem | date: 'HH:mm'}}</small></p>
                            </div>

                            <div class="row" hidden><img src="" alt="" id="imgPost"></div>

                            <div class="row mt-2">
                                <div class="Comentarios" hidden>
                                    <button type="button" class="btnComentario"><i class="far fa-comment"></i></button>
                                    <span class="lblQtdComentarios">10</span>
                                </div>


                            </div>
                        </div>
                    </div>
                </article>





            </div>
        </section>

<!-- MODAL DELETE POST
  <div class="modal fade" id="deletePostModal" tabindex="-1" role="dialog" aria-labelledby="deletePostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="deletePostModalLabel">Deletar Post</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          Tem certeza que deseja remover esse Post? Essa ação não pode ser revertida.
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Não</button>
          <button type="button" class="btn btn-success">Sim</button>
        </div>
      </div>
    </div>
  </div>

-->

<!-- END MODAL DELETE POST -->

<!-- START - MODAL EDITAR POST
  <div class="modal fade" id="editPostModal" tabindex="-1" role="dialog" aria-labelledby="editPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="editPostModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

            <div class="col-12 mt-2">
                <div class="row text-center " >


                    <div class="col-12">
                        <div class="row">
                            <input  [(ngModel)]='postagem.tituloPostagem' id="tituloPost" type="text" placeholder="Titulo" class="col-12 b-0">
                            <textarea [(ngModel)]='postagem.texto_postagem'  id="txtPost" placeholder="O que você está sentindo?"></textarea>
                        </div>
                    </div>
                -->
<!--SELECIONAR TEMA

                    <select name="tema" id="nomeTema" class="form-control" [(ngModel)]='idTema' (change)='findByIdTema'>
                        <option *ngFor='let item of listaTemas' value="{{item.idTema}}">
                            {{item.nomeTema}}
                        </option>
                    </select>
                -->
<!---
                </div>
            </div>
            <div class="col-12 mt-2">
                <div class="row">
                    <div class="col-1  "></div>
                    <div class="col-10  text-left">
                        <div class="row">
                            <div class="col-6">
                                <div class="row">
                                <ul class="p-0">
                                    <li><a href="#"><i class="far fa-image"></i></a></li>
                                    <li><a href="#"><i class="far fa-grin-alt"></i></a></li>
                                </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-1"></div>


                </div>
            </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
          <button type="button" class="btn btn-success">Salvar Alterações</button>
        </div>
      </div>
    </div>
  </div>
 END - MODAL EDITAR POST -->
