<app-menu *ngIf="auth.logado()"></app-menu>
<div id="container-master">
	<app-menu-esquerdo *ngIf="auth.logado()"></app-menu-esquerdo>
	<router-outlet></router-outlet>
	<app-tendencias *ngIf="auth.logado()"></app-tendencias>
</div>
<div id="btnPostarMobile" *ngIf="auth.logado()" class="dropdown-item d-md-none"  data-toggle="modal"  data-target="#postModal"><i class="fas fa-paper-plane"></i>
</div>


<!--
<app-menu *ngIf="auth.logado()"></app-menu>
<div id="container-master">
	<app-menu-esquerdo *ngIf="auth.logado()"></app-menu-esquerdo>
	<router-outlet></router-outlet>
	<app-tendencias *ngIf="auth.logado()"></app-tendencias>
</div>
-->
<!--  RECURSOS SECRETOS -->
<!--  MODAL EXPANDIR IMAGEM -->
<!-- The Modal -->
<div id="myModal" class="modal" style="z-index:888;">

	<!-- The Close Button -->
	<span id="btnCloseModalExpandirIMG">&times;</span>

	<!-- Modal Content (The Image) -->
	<img class="modal-content" id="img01">

	<!-- Modal Caption (Image Text) -->
	<div id="caption"></div>
  </div>
