<aside id="tendencias" class="d-none d-lg-block col-lg-3 col-xl-3">
	<div class="row d-flex justify-content-center">


		<div class="form-group has-search col-11 mt-2">
			<span class="fa fa-search form-control-feedback"></span>
			<input type="text" class="form-control" placeholder="Busque no Toddes" [(ngModel)]='tituloPost' (keyup)='findByTituloPostagem()'>
		</div>



		<div id="oqueEstaAcontecendo" class="col-10">
			<div class="row p-3">
				<div class="col-12">
					<div class="row pb-4">

						<h3>O que as pessoas estão sentindo? <i class="far fa-smile" style="color: #d148bb;"></i></h3>
					</div>

					<article class="row" *ngFor='let trend of listaPostagens | orderBy : key : reverse'>
						<div class="col-9" [ngClass]="{'col-12':!trend.imagem}">
							<div class="row">
								<b class="tendenciaDataPost">{{trend.data_postagem}}</b>
							</div>
							<div class="row">
								<div class="tendenciaPedacoPost resumirTextoPost pr-3">{{trend.texto_postagem}}</div>
							</div>
							<div class="row">
								<span class="tendenciaTemaPost">{{trend.fk_tema.nomeTema}}</span>
								<span href="#" class="tendenciaDonoPost">@{{trend.fk_usuario.nomeUsuario}}</span>
							</div>
						</div>
						<div class="col-3" *ngIf='trend.imagem'>
							<div class="row">
								<a href="#"><img src="{{trend.imagem}}"
										class="tendenciaImgPost" alt="" onerror="this.src='../../assets/toddes_icons/sem_imagem.jpg';"></a>
							</div>
						</div>
					</article>

				</div>
			</div>
		</div>
	</div>
</aside>

