/* RIGHT "tendências"*/
		#tendencias{
			position:fixed;
			width:11.5%;
            top:9.20%;
			left:74.25%;
			text-align:center;
		}

        /* O que está acontecendo? */
		#oqueEstaAcontecendo{background-color:white;}
		#oqueEstaAcontecendo h3{font-size:20px;}

		.tendenciaImgPost{width:100%;height:60px;border-radius:10px;}
		.resumirTextoPost{
			overflow: hidden;
			text-overflow: ellipsis;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
		}
		.tendenciaTemaPost{margin-right:5px;}
		.tendenciaDonoPost{color:#d148bb;}


		#oqueEstaAcontecendo article{margin-bottom:10px;}


	/* Small devices (landscape phones, 576px and up) */
	@media (min-width: 576px) {

	}
	/* Medium devices (tablets, 768px and up)*/
	@media (min-width: 768px) {

	}
	/* Large devices (desktops, 992px and up)*/
	@media (min-width: 992px) {

	}
	/* Extra large devices (large desktops, 1200px and up)*/
	@media (min-width: 1200px) {

	}
