<aside id="tendencias" class="d-none">
	<div class="row d-flex justify-content-center">

		<div id="oqueEstaAcontecendo" class="col-10 pt-2 pb-2">






		</div>
	</div>
</aside>


<!--
<div class="bg-white mt-4 text-left mb-2" *ngFor='let trend of listaPostagens | orderBy : key : reverse' hidden>
				<div>
					<div class="d-flex flex-row justify-content-between align-items-center ">
						<div class="feed-icon">
							<img class="mr-2" src="{{trend.imagem}}" width="75px">
						</div>
						<div class="d-flex flex-row align-items-start feed-text">
							<div class="d-flex flex-column flex-wrap ">

								<span class="font-weight-bold" style="color: rgb(41, 12, 146);font-size:10px;">#{{trend.fk_tema.nomeTema}}</span>

								<span class="text-black-50 time" style="font-size:10px;"> {{specialfunctions.calculaADiferencaEntreDatas(trend.data_postagem)}}</span>

							</div>
						</div>

					</div>
				</div>
				<div><span style="font-size:12px;">{{trend.texto_postagem | slice:0:30}}..</span></div>
			</div>



-->
