
#feed{
	position:absolute;
	width:100%;
	left:0;
	top:9.20%;
	background:white;
	overflow-y:auto;
	height:83%;
	z-index:1;
}
  /* Small devices (landscape phones, 576px and up) */
  @media (min-width: 576px) {

}
/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
	#feed
	{
		width:90%;
		left:10%;
		height:auto;

	}
}
/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
	#feed
	{
		width:58.50%;
		left:26%;

	}

}
/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
	#feed
	{
	
	}
}

.postagensPorTema{color:#d148bb;text-align:center;}
.postagensPorTema h4{margin-bottom:5px;}

/* HORIZONTAL SCROOLING MENU */
div.scrollmenu {
	background-color: white;
	overflow: auto;
	white-space: nowrap;
  }

  div.scrollmenu a {
	display: inline-block;
	color: #777;
	text-align: center;
	padding: 14px 14px 5px 14px;
	text-decoration: none;
	font-weight:bold;
  }

  div.scrollmenu a:hover {
	border-bottom:4px solid #d148bb;
	color:black;
  }

 .temaAtivo{
	  border-bottom:4px solid #d148bb;
	  color:black !important;
  }
