<div id="feed" class="container-fluid">
	<div class="row">
		<button class="btn btn-danger mt-3 ml-3" routerLink='/tema-admin' *ngIf="tipoUsuario=='Administrador' || tipoUsuario=='adm' ">Configurações de Admin</button>
	</div>
	<div class="col-12 postagensPorTema">
		<h4>Postagens por Tema!</h4>
	  </div>

	<div class="row">
		<div class="nav nav-tabs navTemas" id="nav-tab" role="tablist">

		</div>
	</div>



<div class="row">
	<div class="tab-content" id="nav-tabContent">
	</div>
</div>

</div>
