<div class="container-fluid">
    <div class="col-md-12">



        <div class="row d-flex align-items-center">

            <div class="col-md-12" id="img-bg">
                <br>
                <br>
                <br>
                <br>
                <br>
                <br>
                <div class="wrapper fadeInDown">
                    <div id="formContent">
                      <!-- Tabs Titles -->

                      <!-- Icon -->
                      <div class="fadeIn first">
                        <img src="https://i.imgur.com/pBUxvHr.png"   class="imgPerfil rounded-circle mp-2" />
                      </div>

                      <!-- Login Form -->
                      <form>
                        <input [(ngModel)]='userLogin.emailUsuario' type="text" id="login" class="fadeIn second" name="login" placeholder="Seu usuário">
                        <input [(ngModel)]='userLogin.senhaUsuario' type="password" id="password" class="fadeIn third" name="login" placeholder="Sua senha">
                        <input (click)='entrar()' type="submit" class="fadeIn fourth" value="Entrar">
                      </form>

                      <!-- Remind Passowrd -->
                      <div id="formFooter">
                        <p class="text-center">
                            Não tem uma conta? <a routerLink='/cadastrar'>Cadastre-se</a>
                        </p>
                      </div>

                    </div>
                </div>
            </div>
        </div>




    </div>

</div>
