<div id="container-entrar-master" class="container-fluid">
  <br>
  <br>
  <br>
  <br>
        <div class="row d-flex align-items-center">

            <div class="col-md-12 mt-entrar">
                <div class="wrapper fadeInDown">
                    <div id="formContent">
                      <!-- Tabs Titles -->

                      <!-- Icon -->
                      <div class="fadeIn first">
                        <a href="index.html">
                        <img src="../../assets/toddes_img/logo_toddes_rosa.png"   class="rounded-circle mp-2" width="170px" height="90px" />
                      </a>
                      </div>

                      <!-- Login Form -->
                      <form>
                        <input [(ngModel)]='userLogin.emailUsuario' type="text" id="login" class="fadeIn second" name="login" placeholder="Seu usuário" maxlength="30" tabindex="1" autofocus>

                        <input [(ngModel)]='userLogin.senhaUsuario' type="password" id="password" class="fadeIn third" name="login" placeholder="Sua senha" tabindex="2" maxlength="8">


                        <input (click)='entrar()' type="submit" class="fadeIn fourth" value="Entrar" style="background-color:#d148bb; color: white;cursor:pointer;" >
                      </form>

                      <!-- Remind Passowrd -->
                      <div id="formFooter">
                        <p class="text-center">
                            Não tem uma conta? <a routerLink='/cadastrar' style="color:#d148bb;font-weight:bold;text-decoration:underline;" >Cadastre-se</a>
                        </p>
                      </div>

                    </div>
                </div>
            </div>
        </div>

</div>
