<div class="container">
    <br>
    <br>
    <br>
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">


            <div class="row ">

                <div class="col-md-12">

                    <h1 class="text-center text-secondary">Apagar Ususario</h1>
                </div>

            </div>

            <div class="row">
                <div class="col-md-12">
                    <h4 class="text-center text-secondary">Você tem certeza que deseja apagar sua conta?</h4>
                </div>
            </div>

            <hr>

            <div class="row d-flex justify-content-center mt-3">
                <div class="col-md-6">
                    {{user.nomeUsuario}}
                    <a href="" class="lblPostNomeUsuario">@{{user.emailUsuario}}</a>
                </div>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-md-6">
                    <br>
                    <p id="textoPost">Ao deletar esta conta, todos os dados serão perdidos. Você tem certeza que deseja
                        apagar sua conta?</p>

                </div>
            </div>

            <hr>

            <div class="row mt-4">
                <div class="col-md-12 d-flex justify-content-center">
                    <button class="btn btn-danger mr-4" routerLink='/feed'>Não</button>
                    <button class="btn btn-success" (click)='apagarUsuario()'>Sim</button>

                </div>
            </div>
        </div>
    </div>
</div>